[2021-03-03 23:38] #485 closed

[2021-03-03 23:38] #486 closed

[2021-03-03 23:38] #487 closed

[2021-03-03 23:38] #491 closed

[2021-03-03 23:38] #587 closed

[2021-03-03 23:38] #588 closed

[2021-03-03 23:38] #596 closed

[2021-03-03 23:38] #600 closed

[2021-03-03 23:39] #408 closed

[2021-03-03 23:39] #417 closed

[2021-03-03 23:39] #418 closed

[2021-03-03 23:39] #429 closed

[2021-03-03 23:39] #430 closed

[2021-03-03 23:39] #432 closed

[2021-03-03 23:40] #480 closed

[2021-03-03 23:40] #482 closed

[2021-03-03 23:40] #580 closed

[2021-03-03 23:40] #581 closed

[2021-03-03 23:40] #582 closed

[2021-03-03 23:40] #583 closed

[2021-03-03 23:40] #584 closed

[2021-03-03 23:40] #585 closed

[2021-03-03 23:43] #383 closed

[2021-03-03 23:43] #407 closed

[2021-03-03 23:43] #427 closed

[2021-03-03 23:43] #428 closed

[2021-03-03 23:43] #477 closed

[2021-03-03 23:43] #479 closed

[2021-03-03 23:43] #515 closed

[2021-03-03 23:43] #573 closed

[2021-03-03 23:43] #574 closed

[2021-03-03 23:43] #575 closed

[2021-03-03 23:43] #577 closed

[2021-03-03 23:43] #578 closed

[2021-03-03 23:43] #579 closed

[2021-03-03 23:43] #3339 closed

[2021-03-03 23:46] #398 closed

[2021-03-03 23:46] #406 closed

[2021-03-03 23:46] #475 closed

[2021-03-03 23:46] #567 closed

[2021-03-03 23:46] #568 closed

[2021-03-03 23:46] #569 closed

[2021-03-03 23:46] #570 closed

[2021-03-03 23:46] #571 closed

[2021-03-03 23:46] #572 closed

[2021-03-03 23:46] #1435 closed

[2021-03-03 23:46] #1437 closed

[2021-03-03 23:46] #1439 closed

[2021-03-03 23:46] #1440 closed

[2021-03-03 23:46] #1441 closed

[2021-03-03 23:49] #380 closed

[2021-03-03 23:49] #471 closed

[2021-03-03 23:49] #553 closed

[2021-03-03 23:49] #554 closed

[2021-03-03 23:49] #555 closed

[2021-03-03 23:49] #558 closed

[2021-03-03 23:49] #559 closed

[2021-03-03 23:49] #560 closed

[2021-03-03 23:49] #561 closed

[2021-03-03 23:49] #562 closed

[2021-03-03 23:49] #564 closed

[2021-03-03 23:49] #565 closed

[2021-03-03 23:49] #566 closed

[2021-03-03 23:51] data-sync-user commented on #7688
➤ Barry Chen commented:

After discussing this issue with Wil, we've decided to take the endpoint approach, as it requires less manual (meta)data entry from people.

[2021-03-03 23:52] #403 closed

[2021-03-03 23:52] #412 closed

[2021-03-03 23:52] #415 closed

[2021-03-03 23:52] #462 closed

[2021-03-03 23:52] #463 closed

[2021-03-03 23:52] #464 closed

[2021-03-03 23:52] #540 closed

[2021-03-03 23:52] #546 closed

[2021-03-03 23:52] #549 closed

[2021-03-03 23:52] #550 closed

[2021-03-03 23:52] #551 closed

[2021-03-03 23:52] #1430 closed

[2021-03-03 23:52] #3352 closed

[2021-03-03 23:53] #452 closed

[2021-03-03 23:53] #453 closed

[2021-03-03 23:53] #454 closed

[2021-03-03 23:53] #455 closed

[2021-03-03 23:53] #460 closed

[2021-03-03 23:53] #461 closed

[2021-03-03 23:53] #530 closed

[2021-03-03 23:53] #533 closed

[2021-03-03 23:53] #535 closed

[2021-03-03 23:53] #536 closed

[2021-03-03 23:53] #539 closed

[2021-03-03 23:53] #541 closed

[2021-03-03 23:53] #1425 closed

[2021-03-04 04:35] MurzNN commented on #285
Implemented?

[2021-03-04 08:42] ValentinaPC commented on #7568
@chelsea-lewis
- I am still able to reproduce this on my iPad Air 14.02 iOS version while using "ro" as default iOS language.
- the issue might be related to the fact that the device sees my real location and automatically uses Romanian Safari build.
- I've changed the language to "en-US" and the issue is no longer reproducible.
- changed the language to "Romanian" on an Android device and was abl

[2021-03-04 09:39] data-sync-user opened #7724 "[FxA-Settings] Too much white-space before and after "Resend verification code" text"
**Build:**
Stage [Train 1.201.1]

**Affected platforms:**
Windows 10 Enterprise
Android 8

**Preconditions:**
User has already added a secondary email address in Unverified state.

**Steps to reproduce:**

1. Navigate to https://accounts.stage.mozaws.net/ and log in using an existing account.
1. Click on the 'Switch to new design' button.
1. Go to the Secondary email section and observe the "Resen

[2021-03-04 17:00] data-sync-user commented on #7692
➤ Lesley Norton commented:

Just posted a screenshot of this view with the existing button and the corresponding text aligned to the bottom of the containing `<div>`. It seems a bit off to me, I think because the "Subscription" headline is vertically aligned against the "Contact Support" button? Your call though [~jecook@mozilla.com] !

[2021-03-04 19:16] data-sync-user opened #7726 "Show error message for returning PayPal customers during Checkout"
If we are descoping FXA-3078 for the initial PayPal launch, we should think about what to show/tell existing PayPal subscribers in place of FXA-2801 who would like to create another subscription (and also make sure it isn't possible for the user to get into some unsupported state).

Ideally this would involve as little work as possible, since the idea is to reduce scope for the initial launch.

[~

[2021-03-04 19:17] #7324 closed

[2021-03-04 20:18] #7692 closed

[2021-03-04 20:56] data-sync-user opened #7727 "[subplat] Support Multiple Locales in Product/Plan Metadata"
If we wish to support multiple languages in the same pricing plan, we should support multiple locales in the product/plan metadata.

There is already code that tries to provide some basic support on this but it does not work due to a bug.  (At least that's the case when I tried it.)  It also requires exact matches between the requested language and the supported language, e.g. 'en-US' will only wo

[2021-03-04 21:43] data-sync-user opened #7728 "Unable to locate elemets"
There are a lot of test that fails due to 'Unable to locate elements' error.
Below are some of the test, but the whole list can be seen in:
[https://docs.google.com/spreadsheets/d/1Xql1TXgm3PHU9_FPOpftwJm7a_UBP2lx4vaQwfHMC24/edit#gid=142319927](https://docs.google.com/spreadsheets/d/1Xql1TXgm3PHU9_FPOpftwJm7a_UBP2lx4vaQwfHMC24/edit#gid=142319927)

【 highlighted #000000 】rp listed in apps, can be d

[2021-03-04 21:45] #7458 closed

[2021-03-04 22:16] data-sync-user commented on #7727
➤ Barry Chen commented:

!image-2021-03-04-16-13-33-736.png!

I attached an image to demo where the metadata is currently used.  The content in the bullet points and "Full-device VPN" are from the product/plan metadata.

[2021-03-04 22:58] data-sync-user commented on #7727
➤ Barry Chen commented:

For example, if a Stripe product plan is used in Germany and France, we can only display the product details in one language.

[2021-03-04 23:10] data-sync-user commented on #7726
➤ Bianca Danforth commented:

[~jecook@mozilla.com], I am going to propose that we bootstrap off of the new error screen ( https://www.figma.com/file/ejDMYaKpm5bsYL5YvhItur/Payment-Integration?node-id=523%3A4575 ) you designed for PayPal payment processing errors and say:

"Sorry. Currently, you can only sign up for one subscription at a time. Please check back soon."

This is what we will plan to

[2021-03-05 09:54] data-sync-user opened #7735 "[FxA-Settings] "Printed" tooltip message for recovery key is not displayed on Android"
**Build:**
 Stage [Train 1.201.1]

**Affected platforms:**
 Android 8

**Steps to reproduce:**

1. Navigate to [https://accounts.stage.mozaws.net/](https://accounts.stage.mozaws.net/) and log in using an existing account.
1. Tap on the 'Switch to new design' button.
1. Go to the 'Recovery key' section and tap on the 'Create' button.
1. Enter the correct password and tap on the 'Continue' button.
1

[2021-03-05 10:02] data-sync-user opened #7736 "[FxA-Settings] The word 'Restore' from Recovery key text is missing an 's' at the end"
**Build**
Stage [Train 1.201.1]

**Affected platforms**
Windows 10
Android 9
iOS 14.4

**Steps to reproduce**

1. Navigate to https://accounts.stage.mozaws.net/beta/settings/ and login using an existing account.
1. Check the text displayed in the Recovery key section.

**Expected results**
"Restore your information when you forget your password." text is displayed - see figma

**Actual Results**
'

[2021-03-05 10:29] data-sync-user opened #7737 "Zooming in a lot and then zooming out takes the picture out of the frame"
**Build:**
 Stage [Train 1.201.1]

**Affected platforms:**
 Windows 10
 macOS
 Android 9

**Steps to reproduce:**

1. Navigate to [https://accounts.stage.mozaws.net/](https://accounts.stage.mozaws.net/) and log in using an existing account.
1. Click on the 'Switch to new design' button.
1. Click on the 'Add' button displayed on the right side of the Profile Picture.
1. Click on the 'Add Photo' but

[2021-03-05 14:18] data-sync-user opened #7738 ""Continue"/ "Finish" button becomes enabled when user clicks outside the code field at the first attempt"
**Build:**
Stage [Train 1.201.1]

**Affected platforms:**
Windows 10
Android 8
macOS 10.14.6

**Steps to reproduce:**

1. Navigate to https://accounts.stage.mozaws.net/ and log in using an existing account.
1. Click on the 'Switch to new design' button.
1. Go to the 'Two-step authentication' section and click on the 'Add' button.
1. Observe the 'Continue' button.
1. Click outside the code field an

[2021-03-05 15:36] data-sync-user opened #7739 "[FxA-Settings] "Close" button from Delete Account Step 1 of 2 screen takes the user to the top of the Settings Page"
**Build**
Stage [Train 1.201.1]

**Affected platforms**
Windows 10
macOS 10.14.6
iOS 14.4

**Steps to reproduce**

1. Navigate to https://accounts.stage.mozaws.net/beta/settings/ and login using an existing account.
1. Click on the "Delete account" button displayed on the bottom of the page.
1. Click on the "<-" Back arrow.
1. Click again on the "Delete account" button displayed on the bottom of t

[2021-03-05 17:26] data-sync-user commented on #7305
➤ Alex Davis commented:

I don't think it's possible to avoid sending flow metrics since those are sent when the user is not signed in yet.

[2021-03-05 17:39] data-sync-user commented on #7448
➤ Bianca Danforth commented:

Getting the `PayPalButton` to render in the new customer `SubscriptionCreate` story would require adding Storybook-only code which is discouraged, so I'm descoping that from this ticket. See this thread ( https://github.com/mozilla/fxa/pull/7717#discussion_r586970500 ) in GitHub for more details.

[2021-03-05 18:22] #7448 closed

[2021-03-05 20:42] data-sync-user commented on #7726
➤ Jessica Cook commented:

[~bdanforth@mozilla.com]
I agree with what you have proposed above that is essentially what we discussed in the check-in this week so I'm good with leveraging that screen.

The messaging you have makes sense. 👍

[2021-03-08 14:59] data-sync-user commented on #7726
➤ Bianca Danforth commented:

Great thanks for your input. You're right we did talk about using that error screen in the last check-in; that's probably where I got that idea from, heh.

[2021-03-08 15:40] data-sync-user opened #7740 "[FxA-Settings] The New Settings page is not translated in other languages"
**Build**
Stage [Train 1.201.1]

**Affected platforms**
Windows 10
macOS

**Steps to reproduce**

1. Launch Firefox using a fr, ge, ar, sq, cy etc build (or set the desired language from about:preferences -> Choose your preferred language for displaying pages)
1. Go to https://accounts.stage.mozaws.net/settings/ and login using an existing account.
1. Navigate to https://accounts.stage.mozaws.net/

[2021-03-08 15:51] data-sync-user opened #7741 "Error modal flashes on some loads of SubscriptionCreate"
When the `Product` route is loaded, it sometimes flashes a "Problem loading plans" modal before loading the `SubscriptionCreate` route.

Looking at the ["Problem loading plans" code block](https://github.com/mozilla/fxa/blob/c9bd7a62801c58abb17834f8cbf9fe355e3f0493/packages/fxa-payments-server/src/routes/Product/index.tsx#L84-L95), it depends on the value of two properties: `plans.result` and `pla

[2021-03-08 16:12] data-sync-user commented on #7612
➤ Bianca Danforth commented:

The logic for this is also needed in Subscription Management (see FXA-2806), so we should be able to reuse it here.

[2021-03-08 19:44] data-sync-user opened #7742 "TEST-ONLY testing resolution workflow in Jira"
This is just a test issue for Resolution changing to 'Unresolved' in this Jira project workflow. DISREGARD PLEASE.

┆Issue is synchronized with this [Jira Task](https://jira.mozilla.com/browse/FXA-3141)
┆Issue Number: FXA-3141

[2021-03-08 19:45] data-sync-user commented on #7742
➤ James Dirks commented:

CANCELING

[2021-03-08 19:47] #7742 closed

[2021-03-08 19:47] data-sync-user commented on #7742
➤ James Dirks commented:

canceled

[2021-03-08 20:10] data-sync-user commented on #7100
➤ Dave Justice commented:

This should be closed by https://github.com/mozilla/fxa/pull/7718 ( https://github.com/mozilla/fxa/pull/7718 )

[2021-03-08 21:17] data-sync-user commented on #7594
➤ Se Yeon Kim commented:

We should check to make sure that "customer.source.expiring" event is being triggered from the new Stripe API since updating the library with PaymentMethod does not mention this event. Also "handleCustomerSourceExpiringEvent" results in calling for "sendSubscriptionPaymentExpiredEmail" with "Stripe.Source" which has been deprecated. May not be an issue but we should check

[2021-03-08 22:26] data-sync-user opened #7743 "[subplat] Update support form dropdown placeholder text"
Update to "Please select one".  Requested from https://github.com/mozilla/fxa-content-server-l10n/pull/478#discussion_r588821030

┆Issue is synchronized with this [Jira Task](https://jira.mozilla.com/browse/FXA-3142)
┆Issue Number: FXA-3142

[2021-03-08 23:39] data-sync-user opened #7744 "[subplat][l10n] Change the "payment-legal-copy-stripe-paypal" Fluent message id"
When the content of a localizable string is changed, the id for the string also must be changed.  Otherwise, the localizers will not know about the change.

┆Issue is synchronized with this [Jira Task](https://jira.mozilla.com/browse/FXA-3143)
┆Issue Number: FXA-3143

[2021-03-09 00:21] data-sync-user commented on #7618
➤ Benjamin Bangert commented:

The GET customer returns a `payment_provider`, it will now optionally return an additional field if the customer is using paypal and has an error. A `paypal_payment_error` will be set to either 'missing_agreement' or 'funding_source' indicating what error to show the user.

[2021-03-09 11:10] data-sync-user opened #7751 "Small browser width in “Set up your subscription” page hides product details after maximize"
**Affected versions:**

* All Firefox;

**Affected FxA versions:**

* 1.201.1;

**Affected Platforms:**

* Windows 10 x64;

**Prerequisites:**

* Have the browser width under 768 px;

**Steps to reproduce:**
1. Load https://stage-vpn.guardian.nonprod.cloudops.mozgcp.net/ page;
2. Click the “Try Mozilla VPN” button;
3. Do not click “Show details” option to expand product details;
4. Maximize the br

[2021-03-09 12:28] enote-kane opened #7753 "[fxa-auth-db-mysql] H/A support broken with read-only secondaries"
## Description

When running the fxa-auth-db-mysql service against a MySQL cluster with read-only secondaries, some functionality is broken (e.g. verifying an account signup token).

### Steps to reproduce

1. Configure `fxa-auth-db-mysql` to use a primary MySQL as "master" and a read-only secondary as "slave".
2. Configure `fxa-auth-server` to send signup codes via email
3. Signup for a new accou

[2021-03-09 16:25] data-sync-user opened #7754 "Update PayPal related docs on Firefox Ecosystem"
Update the docs on PayPal setup on Firefox Ecosystem Platform under the Firefox Accounts Subscription Platform section [here|[https://mozilla.github.io/ecosystem-platform/docs/fxa-engineering/fxa-sub-platform](https://mozilla.github.io/ecosystem-platform/docs/fxa-engineering/fxa-sub-platform).]

Helpful information to setup Stage/Prod for PayPal integration and multi-currency support has been star

[2021-03-09 16:40] janiceahn opened #7755 "[FXA-Settings] Category and Subcategory needs left-alignment"
## Description

Category (e.g., Profile) is not left-aligned with Sub-Category (e.g., Picture) within body of page.

### Steps to reproduce

![image](https://user-images.githubusercontent.com/6219141/110505428-248f8000-80cc-11eb-82f0-ad610384680a.png)

### Environment

Nightly

┆Issue is synchronized with this [Jira Task](https://jira.mozilla.com/browse/FXA-3158)
┆Issue Number: FXA-3158

[2021-03-09 16:43] janiceahn opened #7756 "[FXA-Settings] Secondary email subcategory section missing descriptive copy and link"
## Description

Secondary email subcategory section missing descriptive copy and link.

### As staged

![image](https://user-images.githubusercontent.com/6219141/110505930-9f589b00-80cc-11eb-9a53-2fb66093202e.png)

### Figma spec
two states:

<img width="765" alt="Untitled 2" src="https://user-images.githubusercontent.com/6219141/110506475-1e4dd380-80cd-11eb-9cfe-487c262b7d39.png">

<img width="40

[2021-03-09 16:52] janiceahn opened #7757 "[FXA-Settings] Menu Category in active state needs background"
## Description

When menu category is active, blue category text should have grayscale background. Currently missing.

### Steps to reproduce

<img width="200" alt="Untitled 5" src="https://user-images.githubusercontent.com/6219141/110507292-ded3b700-80cd-11eb-97b7-775d95299cac.png">

### Expected result

<img width="186" alt="Untitled 4" src="https://user-images.githubusercontent.com/6219141/1105

[2021-03-09 16:59] janiceahn opened #7758 "[FXA-Settings] Inconsistent casing – should be sentence case"
## Description

Inconsistent casing across page. Some examples:

Subcategory titles: "Primary email" and "Secondary Email"
Subcategory status: "Not set" and "Not Set"
Buttons: "Delete Account"
Connected services status: "a day ago"
Stepped page headers: "Two-Step Authentication"

**Non-exhaustive—site should be scraped**

### Steps to reproduce

![image](https://user-images.githubusercontent.com/6

[2021-03-09 17:11] data-sync-user commented on #7707
➤ Wil Clouser commented:

wontfix

[2021-03-09 17:15] data-sync-user commented on #7736
➤ Wil Clouser commented:

This wording is on purpose to give an instruction to the end user.  Thanks

[2021-03-09 17:30] data-sync-user commented on #7429
➤ Wil Clouser commented:

From triage:  What's useful about having two parties with paypal?

[2021-03-09 17:34] janiceahn opened #7759 "[FXA-Settings] Connected Services copy should be left-aligned"
## Description
Should be left-aligned:

Missing or duplicate items?
Get Firefox on mobile or tablet...

### Steps to reproduce
![image](https://user-images.githubusercontent.com/6219141/110512837-94553900-80d3-11eb-83ec-bca7548aaad1.png)

### Expected result
<img width="532" alt="Untitled" src="https://user-images.githubusercontent.com/6219141/110512890-a46d1880-80d3-11eb-96e8-819350c5312f.png">

[2021-03-09 17:42] janiceahn opened #7760 "[FXA-Settings] Footer typo"
## Description

Web Site --> Website

### Steps to reproduce

![image](https://user-images.githubusercontent.com/6219141/110514016-d7fc7280-80d4-11eb-8e63-092ca9ac97ed.png)

### What should happen
<img width="359" alt="Untitled 3" src="https://user-images.githubusercontent.com/6219141/110514081-ed719c80-80d4-11eb-8fae-201374b657d7.png">

[2021-03-09 17:48] janiceahn opened #7761 "[FXA-Settings] Time stamp needs time zone info"
## Description

In the comps, password change includes date but not time.
Staging includes the time.

If we are definitely keeping time, then we need to add the time zone information.

### Steps to reproduce

![image](https://user-images.githubusercontent.com/6219141/110514776-a59f4500-80d5-11eb-9c9f-069ad38be106.png)

### Expected result

Add time zone information.

┆Issue is synchronized with th

[2021-03-09 17:56] janiceahn opened #7762 "[FXA-Settings] increase modal horizontal padding"
## Description

Modal padding (left, right) needs to be increased

### Steps to reproduce
<img width="491" alt="Untitled 2" src="https://user-images.githubusercontent.com/6219141/110516128-2d398380-80d7-11eb-9649-7014637c671f.png">

### Expected result

<img width="372" alt="Untitled 2" src="https://user-images.githubusercontent.com/6219141/110515871-df248000-80d6-11eb-8c64-118a3ead687d.png">

┆Is

[2021-03-09 18:50] janiceahn opened #7763 "[FXA-Settings] Make global nav sticky (hide on scroll-down) on mobile"
## Description

On mobile, make global nav (hamburger bento avatar) sticky to maximize real estate for body on this smaller screen.

### Steps to reproduce
Global nav is currently locked:
![image](https://user-images.githubusercontent.com/6219141/110521824-3ed25980-80de-11eb-8731-708d988d214e.png)

### Expected result
Global nav is locked to top of page on scroll-down.
On scroll-up, global nav rea

[2021-03-09 18:55] janiceahn opened #7764 "[FXA-Settings] Keep back arrow outside of "box" for tablet"
## Description

Currently within "child pages" / flows, the back arrow sits outside of the box for DT. This keeps the text left-aligned across header, subheader, and body copy.

For T and M, however, the back arrow jumps inside the box, mis-aligning the text.

We should keep the back arrow outside the box for T, and preserve the alignment on this form factor, just as it is in DT.

Note: For M, sin

[2021-03-09 19:00] janiceahn opened #7765 "[FXA-Settings] Remove refresh buttons from Two-step authentication"
## Description

Refresh buttons were to be included for Recovery key and Connected services in order to achieve parity with old/existing design.

Staged design shows refresh button for Two-step auth. This should be removed.

My understanding is that auto-refresh for Recovery key and Connected services is not viable, and so we need to keep these refresh buttons. If this is no longer true, we should

[2021-03-09 19:11] #7753 closed

[2021-03-09 19:36] janiceahn opened #7766 "[FXA-Settings] Check shade/opacity of confirmation pointer thingy"
## Description

Confirmation pointer thingy — used to confirm download, copy; used for Take photo label — looks too dark &/or opaque. Radius might also be a little too sharp. Please check spec.

### Steps to reproduce
<img width="361" alt="Untitled 2" src="https://user-images.githubusercontent.com/6219141/110527326-d2a72400-80e4-11eb-9864-5d93df52e0fa.png">

### Expected result
<img width="271" al

[2021-03-09 19:41] #7073 closed

[2021-03-09 20:04] data-sync-user commented on #7705
➤ Chelsea Lewis commented:

[~vtamas@mozilla.com] [~rbillings@mozilla.com] this has been added to next train (Fxa 203) as we do not see it as a blocker for release.

[2021-03-09 20:09] #7100 closed

[2021-03-09 20:09] #7617 closed

[2021-03-09 21:07] enote-kane opened #7767 "L10N failing for specific git commit"
## Description

When trying to specify a Git commit of the L10N repo to reproduce a build, the checked out workspace is still at its default branch while the script `_scripts/clone-l10n.sh` exits with error code `128`.

### Steps to reproduce

Execute the following at the top of the repo clone directory:

[code]

### Expected result

The L10N repo workspace gets checked out at the wanted commit.

[2021-03-09 21:59] dannycoates commented on #7705
This is because we're creating too big of a canvas here and ios nopes out: https://github.com/mozilla/fxa/blob/main/packages/fxa-settings/src/lib/canvas-utils.tsx#L37

We should refactor this function to be more efficient

[2021-03-10 06:42] madalincm commented on #7707
Hello Will!
The QA team is aware of the work done for paypal support. We were just worried about releasing to production links to pay pal when we do not yet support paypal.  It might be confusing for some user seeing a privacy policy link for paypal when they can't yet pay with paypal.

[2021-03-10 16:27] data-sync-user commented on #7429
➤ Dave Justice commented:

It's very minor, but it's nice to be able to run through the complete flow twice, without having to create and validate a new account.

[2021-03-10 16:50] #7689 closed

[2021-03-10 17:29] data-sync-user opened #7778 "[subplat] No or better fallback error message in PaymentError"
(from [https://github.com/mozilla/fxa/pull/7718#discussion_r591641710)](https://github.com/mozilla/fxa/pull/7718#discussion_r591641710))

If Fluent fails to find a message, PaymentError displays a message id as the fallback content.  That's not helpful to users.  We should either

* display a generic message (need Product or UX for copy)
* or just don't show anything

┆Issue is synchronized with t

[2021-03-10 17:57] #7467 closed

[2021-03-10 18:03] data-sync-user opened #7779 "[subplat][stripe config] Product Metadata Localization"
(This is more of a To-do for a process checklist.)

For background info, please see the metadata section of [https://mozilla.github.io/ecosystem-platform/docs/fxa-engineering/fxa-sub-platform](https://mozilla.github.io/ecosystem-platform/docs/fxa-engineering/fxa-sub-platform)

For the localizable metadata, the key without the {locale} is the default and final fallback.  So if you were to create a

[2021-03-10 19:13] birdsarah commented on #7631
Completed via a google doc and email.

[2021-03-10 19:13] #7631 closed

[2021-03-10 19:13] data-sync-user commented on #7631
➤ Sarah Bird commented:

Done. Emailed QA. The doc is here: https://docs.google.com/document/d/1ocg_Ete3lkOvms7rtDmF0uYP2s9Ru8JV89iZQFHhu2E/edit

[2021-03-10 19:56] #7618 closed

[2021-03-10 20:26] #7586 closed

[2021-03-10 20:46] data-sync-user commented on #7066
➤ Benjamin Bangert commented:

As far as I know, this task has been completed.

[2021-03-10 20:47] data-sync-user commented on #7066
➤ Benjamin Bangert commented:

Oh, the production tasks for this haven't been completed. This is more of a spike, or action item to track, not a code thing that belongs here.

[2021-03-10 22:15] data-sync-user opened #7782 "[subplat] Verify the current state of the subscription upgrade feature"
Ben reported that subscription upgrade doesn't seem to work anymore.  Find out that the bug is, and

* if it's small, let try to fix it, or

* if it's complex, more so than putting up a temporary roadblock to prevent customers from using the feature, put up the temporary roadblock

Outcome of this Jira is Jira(s) for the follow-ups described above.

┆Issue is synchronized with this [Jira Task](htt

[2021-03-10 23:02] #7744 closed

[2021-03-10 23:36] data-sync-user opened #7783 "[subplat][docs] Update FxA Ecosystem Docs on Changes to the Legal Docs Metadata"
In FXA-3112 we added an endpoint to redirect a legal doc request to a localized version when available.  And FXA-3114 will update the emails to use that endpoint.  This means the legal doc metadata values has an additional format/pattern.  Concretely, it is https://accounts-static.cdn.mozilla.net/legal/{some_filename} where `{some_filename}` is the doc filename without the locale or file extension

[2021-03-10 23:38] data-sync-user commented on #7783
➤ Barry Chen commented:

I have no idea why {some_filename} above is on a line of its own.  I can't stop jira from doing it.

[2021-03-11 00:17] data-sync-user opened #7784 "Create email for paypal agreement missing"
If there's no invoice being billed, but we discover that the billing agreement for a user has been cancelled, we should send an email to the user saying they should update their billing with our subscription management page. This email doesn't exist right now.

The email should be created, and tied into the `paypal-notifications.ts` in `handleMpCancel` to send it.

┆Issue is synchronized with this

[2021-03-11 00:45] #7740 closed

[2021-03-11 09:22] #7756 closed

[2021-03-11 09:22] data-sync-user commented on #7756
➤ Vasilica Tamas commented:

Closing as dupe of FXA-2984

[2021-03-11 09:32] #7759 closed

[2021-03-11 09:32] data-sync-user commented on #7759
➤ Vasilica Tamas commented:

Closing as dupe of FXA-2844

[2021-03-11 17:40] data-sync-user commented on #7741
➤ Barry Chen commented:

[~bdanforth@mozilla.com] Thanks for looking into it.  The async/request code starts with `fetchProductRouteResources()` in the Product route.  I see that it should show the loading overlay if `plans.loading` is true, so I'm not sure what's going on.  It's possible that `loading` is set to false while `result` is still null, but I'm just guessing at this point.

[2021-03-11 17:46] data-sync-user commented on #7098
➤ Barry Chen commented:

Removing the Sprint since this has been descoped for the MVP.

[2021-03-11 18:07] #6476 closed

[2021-03-11 18:07] data-sync-user commented on #6476
➤ Wil Clouser commented:

The spirit of this bug is done but the letter of this bug is not done.  Jared will file follow up issues breaking this down further.

[2021-03-11 18:08] #6477 closed

[2021-03-11 18:11] data-sync-user commented on #7429
➤ Dave Justice commented:

Also, I wouldn't have been able to test this error without 2 relying parties https://github.com/mozilla/fxa/pull/7771

[2021-03-11 19:56] data-sync-user opened #7791 "Review RTL (right-to-left) styles in Checkout"
In FXA-3143, I noticed that some of the text displayed incorrectly when I changed the document language direction to `rtl` instead of `ltr` (see the [screenshot in the corresponding PR](https://github.com/mozilla/fxa/pull/7781)).

We should examine the styles used for the Checkout screens to ensure they display correctly when the language direction is `rtl`.

┆Issue is synchronized with this [Jira

[2021-03-11 20:24] data-sync-user opened #7792 "Throw Sentry errors if we start getting unusual PayPal transaction types"
Note: This is a mitigation following the RRA - PayPal integration to Subscription Platform.

There are a lot of [IPN notifications](https://developer.paypal.com/docs/api-basics/notifications/ipn/IPNandPDTVariables/#ipn-transaction-types), but we only use a small subset. As a security measure, we should throw a Sentry error for any types that we don't use to help us quickly identify any unusual act

[2021-03-11 20:45] dannycoates opened #7793 "Duplicate metrics request on add 2FA"
## Description

Multiple metrics requests are sent for the same `screen.settings.two-step-authentication` event when there should be only one.

┆Issue is synchronized with this [Jira Task](https://jira.mozilla.com/browse/FXA-3170)
┆Issue Number: FXA-3170

[2021-03-11 21:25] data-sync-user opened #7794 "[subplat] Prevent Subscription Upgrades"
Subscription upgrades -- changing the pricing plan within a product -- is not a supported feature at the moment, and our code is reportedly buggy.  We should put up a message to let customers know that they cannot upgrade their subscription.  Furthermore, this message screen should be feature flag based.

┆Issue is synchronized with this [Jira Task](https://jira.mozilla.com/browse/FXA-3171)
┆Issue

[2021-03-11 21:45] data-sync-user commented on #7794
➤ Bianca Danforth commented:

Pasting a comment from a relevant Slack thread:

IIUC from Ben, upgrades were implemented but never tested by QA. When we tried it out back in February for the requested estimate above, we found a couple of front-end bugs, and the bugginess seems to have worsened as PayPal development accelerated based on reports from Ben and Sarah.

[2021-03-11 22:26] #7743 closed

[2021-03-11 23:18] data-sync-user opened #7798 "Fix tests which broke from new Settings layout"
With the change to the new Settings layout quite a few integration tests broke because we didn't update them.  Let's fix that.  This issue might need to be broken apart if there are a lot of them.

┆Issue is synchronized with this [Jira Bug](https://jira.mozilla.com/browse/FXA-3172)
┆Issue Number: FXA-3172

[2021-03-11 23:47] data-sync-user opened #7799 "Add details for the failing tests in the Slack notifications"
Add the below things to the Slack notifications that goes out in the event of failure to the FxA team:

First, easy step:

* ping failures to @fxa-engineering, ankita ,rbillings and jbuck (not just ankita, rbillings, jbuck)

Next, more complicated steps:

* add failure notification for regression suite as well
* add details of the tests failing
* add link to circleci for the test summary

┆Issue i

[2021-03-12 00:04] data-sync-user commented on #7799
➤ Wil Clouser commented:

Thanks for filing this.  Let's ping @fxa-engineering on slack so we get everyone's attention.

[2021-03-12 02:19] data-sync-user commented on #7429
➤ Bianca Danforth commented:

An alternative to using Fortress, what I used to manually test https://github.com/mozilla/fxa/pull/7771 ( https://github.com/mozilla/fxa/pull/7771 ) was another fake productId and planId from the Stripe DEV server dashboard. You do have to manually assemble the link though, e.g. in local development:

http://localhost:3031/products/<productId>?plan=<planId>

[2021-03-12 03:20] #7726 closed

[2021-03-12 06:01] erosman opened #7803 "Universal Practicality of 2FA Options"
Current possibilities are not suited to all users.

### Desktop Application Options
Access is not available to all users

![Screenshot_2021-03-12 Access denied authy com used Cloudflare to restrict access2](https://user-images.githubusercontent.com/6458876/110898682-ee910c80-8314-11eb-85a1-243c851cfa0a.png)

### Mobile Application Options
Considerable risk or unavailability when mobile is lost, st

[2021-03-12 14:36] data-sync-user opened #7804 "Add unique data-testid's for elements"
* Please make sure to add data-testids for each element on the page
* Please add unique data-testids for each element
* Please make sure to enforce this standard while unit testing.

┆Issue is synchronized with this [Jira Bug](https://jira.mozilla.com/browse/FXA-3175)
┆Issue Number: FXA-3175

[2021-03-12 14:37] data-sync-user commented on #7804
➤ Ankita Shrivastava commented:

[~wclouser@mozilla.com] please assign this to whoever is going to work on it. It is a blocking issue for me currently.

[2021-03-12 15:13] data-sync-user opened #7805 "[subplat] Subscription Upgrade UI is broken"
See attached image.

!image-2021-03-12-09-08-22-904.png!

┆Issue is synchronized with this [Jira Bug](https://jira.mozilla.com/browse/FXA-3176)
┆Attachments: <a href="https://jira.mozilla.com/secure/attachment/15532/image-2021-03-12-09-08-22-904.png">image-2021-03-12-09-08-22-904.png</a>
┆Issue Number: FXA-3176

[2021-03-12 15:32] data-sync-user opened #7806 "[subplat] Subscription Upgrade within the same product is not working"
The Subscription Upgrade feature is currently not working for plans within the same product.  One issue is that metadata used to compare the two plans are not the coalesced data from both the product and the plan, and when the productSet and productOrder metadata are on the plans, they won't be available for comparison.

┆Issue is synchronized with this [Jira Bug](https://jira.mozilla.com/browse/F

[2021-03-12 15:51] #7594 closed

[2021-03-12 16:44] data-sync-user commented on #7693
➤ Se Yeon Kim commented:

Using the GetExpressCheckoutDetails (https://developer.paypal.com/docs/nvp-soap-api/get-express-checkout-details-nvp/ ( https://developer.paypal.com/docs/nvp-soap-api/get-express-checkout-details-nvp/ ))

Payer Info available:

EMAILEmail address of buyer.Character length and limitations: 127 single-byte characters.PAYERIDUnique PayPal Customer Account identification numb

[2021-03-12 17:42] data-sync-user opened #7807 "[subplat] Deny Subscription Upgrades Between Products"
Currently if the metadata configured such that two products are in the same productSet, we allow upgrading from one to the other. We should not allow such an upgrade.

┆Issue is synchronized with this [Jira Bug](https://jira.mozilla.com/browse/FXA-3178)
┆Issue Number: FXA-3178

[2021-03-12 17:50] data-sync-user opened #7808 "Send a reminder email 14 days before a renewal for any subscription >=180 days"
In a VPN pricing meeting yesterday, the proposed plans for the upcoming European launch included a monthly plan, a six-month plan and an annual plan.

IIUC, we may need to send subscribers for these longer plans one or more additional emails due to the longer plan length. I didn't quite follow the logic, but I believe it was related to either autorenewal or expiration at the end of the period.

[~

[2021-03-12 17:50] data-sync-user commented on #7808
➤ Wil Clouser commented:

I will ask.  Thanks for bringing it up.  The next meeting isn't until the 22nd.

[2021-03-12 17:50] data-sync-user commented on #7808
➤ Bianca Danforth commented:

Thanks [~wclouser@mozilla.com] . In that case, given our April launch timeline and the possible additional work involved, do you think it's worth asking them in advance of the next meeting on 3/22 (and is that an option)?

[2021-03-12 17:50] data-sync-user commented on #7808
➤ Wil Clouser commented:

I think it's ok to stick with our current approved plan -- emails are sent when subscriptions are renewed/billed.  I haven't had any other signals that we'd need to change that.   But maybe something specific happened to file this bug?

[2021-03-12 17:50] data-sync-user commented on #7808
➤ Bianca Danforth commented:

Well, there are a couple of firsts for the April launch that may change the legal requirements (and that seemed to be the suggestion in the meeting) – this is the first time subscriptions will be offered:

  * in Europe (different consumer protection laws)
  * for plan lengths > 1 month

Anyway, it's possible no changes are necessary; I just wanted to be sure.

[2021-03-12 17:50] data-sync-user commented on #7808
➤ Wil Clouser commented:

Hi Bianca.  Your instincts were correct, thanks for filing.  Legal has asked us to send a reminder email 14 days before a renewal for any subscription >=180 days.  The reminder email needs to tell the user when the next bill will be and how much they will pay.  Other than that, there is no specific wording (although I suspect continuing to link to our unsubscribe option w

[2021-03-12 17:50] data-sync-user commented on #7782
➤ Barry Chen commented:

Filed FXA-3177, FXA-3176, and FXA-3178.

[2021-03-12 17:51] #7782 closed

[2021-03-12 17:52] data-sync-user commented on #7808
➤ Bianca Danforth commented:

CCing [~lnorton@mozilla.com] and [~jecook@mozilla.com] for visibility. Maybe we can discuss this ticket in the next design check-in?

[2021-03-12 17:52] data-sync-user commented on #7808
➤ Bianca Danforth commented:

Also thank you Wil for checking quickly!

[2021-03-12 18:13] data-sync-user commented on #7794
➤ Barry Chen commented:

[~jecook@mozilla.com] This is the Jira for the upgrade roadblock screen that we discussed in Slack.  Please ping here once you have the final design/copy ready.  Thanks!

[2021-03-12 20:01] data-sync-user commented on #7794
➤ Bianca Danforth commented:

IIUC from our Slack conversation, Jess agreed that we could use the same error screen as in FXA-3119 (i.e. `PaymentErrorView` with the "Manage my subscription" button), but with a different error message.

If that's the case, the only thing we'd want to agree on is an error message. How about something like: "Sorry. You can't upgrade or downgrade an active subscriptio

[2021-03-12 20:29] data-sync-user commented on #7794
➤ Barry Chen commented:

I'll based it on the `PaymentErrorView` but I don't want to use it.  Here are the reasons:

  * It's not a payment error
  * PaymentErrorView uses SubscriptionTitle, which always display "30-day money-back guarantee"
  * PaymentErrorView relies on some error code/message mapping; we just have a message here
  * PaymentErrorView always display a Try Again button

Sorry if y

[2021-03-12 23:07] data-sync-user commented on #7794
➤ Bianca Danforth commented:

Those are all good points, though it doesn't always display a "Try again" button since FXA-3119 landed. I added a conditional to display a "Manage my subscription" button in one case.

I did literally mean `PaymentErrorView`, as I bootstrapped off of it for FXA-3119 for another non-payment error scenario.

I think the goal here is to ensure consistent styles and to re

[2021-03-12 23:25] data-sync-user opened #7810 "[subplat] Payment Error Message Text Color is Too Light"
It's very difficult to read.  Also according to [https://www.figma.com/file/ejDMYaKpm5bsYL5YvhItur/Payment-Integration?node-id=523%3A4575](https://www.figma.com/file/ejDMYaKpm5bsYL5YvhItur/Payment-Integration?node-id=523%3A4575) it should match the color of the plan details.

┆Issue is synchronized with this [Jira Bug](https://jira.mozilla.com/browse/FXA-3179)
┆Attachments: <a href="https://jira.m

[2021-03-12 23:59] data-sync-user commented on #7794
➤ Barry Chen commented:

Ah ok, I did not have your changes from FXA-3119 when I branched.

I agree.  And I definitely do not want new layouts and styles.  I also don't want components with a myriad of toggles and knobs that require devs to get them just right.  With your changes, `PaymentErrorView` is mostly there for this issue, I'll use that.  Thanks for clarifying!

[2021-03-15 09:40] data-sync-user opened #7815 "[FxA-Settings] "Generate a new recovery key" option redirects to the old Settings page"
**Build**
Stage [Train 1.202.1]

**Affected platforms**
Windows 10
macOS 10.14.6

**Prerequisites:**
The user has enabled a recovery key

**Steps to reproduce**

1. Go to Sign In Page and click on the "Forgot password?".
1. Insert the email and click on the "Begin reset".
1. Go to email and click on the "Create new password".
1. Insert the recovery key and click on the "Confirm recovery key".
1. C

[2021-03-15 15:55] #7650 closed

[2021-03-15 15:55] data-sync-user commented on #7650
➤ Sarah Bird commented:

I'm closing this as I believe it's covered by other work to properly support upgrade.

[2021-03-15 15:55] data-sync-user commented on #7650
➤ Sarah Bird commented:

Covered by other work to properly support upgrade.

[2021-03-15 21:06] data-sync-user opened #7816 "Add SVG generation code to Profile Server"
It looks like the best place for the SVG generation code is going to be the profile server.

I've included a sample of what I think the SVG shape should be:

[code]

Here is the list of requirements for the SVG and when it should be generated:{{}}

* An SVG would also scale properly with the rest of the browser UI if the user changes their DPI settings
* `fill`, `fill-opacity`, and `stroke` should

[2021-03-15 21:08] data-sync-user commented on #7816
➤ Dave Justice commented:

I estimated this as a 5 since it is the bulk of the work for this epic and may take some time to write the tests to cover all of the logic.

[2021-03-15 21:11] data-sync-user opened #7817 "Verify that the generated icon renders correctly in light and dark mode"
This should include:

* making sure we can target the icon correctly with our theme css
* adding screenshots to this issue of the correctly rendered icons

┆Issue is synchronized with this [Jira Task](https://jira.mozilla.com/browse/FXA-3183)
┆Issue Number: FXA-3183

[2021-03-15 21:14] data-sync-user opened #7818 "Add the correct id for the generated icon"
We will need to dig around in [browser toolbox](https://developer.mozilla.org/en-US/docs/Tools/Browser_Toolbox)(SHIFT + CTRL + ALT + I) to get the correct ID to add to the icon. This way we can take advantage of the existing browser styles for light and dark mode, and check to see if any edits need to be made to the browser styles.

┆Issue is synchronized with this [Jira Task](https://jira.mozilla

[2021-03-15 23:40] data-sync-user opened #7820 "Update development docs for PayPal"
We have docs for setting up Stripe for development on Subscription Platform, but no equivalent docs for PayPal, setting up the PayPal account, sandbox, etc..

These docs should be updated to document how to setup PayPal keys and the code:

https://mozilla.github.io/ecosystem-platform/docs/fxa-engineering/fxa-sub-platform

┆Issue is synchronized with this [Jira Task](https://jira.mozilla.com/browse

[2021-03-16 02:02] data-sync-user opened #7822 "Update subscription management styles"
[https://www.figma.com/file/ejDMYaKpm5bsYL5YvhItur/Payment-Integration?node-id=859%3A294](https://www.figma.com/file/ejDMYaKpm5bsYL5YvhItur/Payment-Integration?node-id=859%3A294)

Should be a quick pass, there isn't much on the page. (buttons, drop shadow, border radius, and fonts)

3 points is for making sure all of the different UI states are covered.

┆Issue is synchronized with this [Jira Task

[2021-03-16 09:37] data-sync-user opened #7829 "[FxA-Settings] “Download” option cancels the 2FA enabling process on iOS"
**Build**
 Stage [Train 1.202.1]

**Affected platforms**
 iOS 14.4

**Steps to reproduce**

1. Launch Firefox app and go to menu -> Sign in to Sync
1. Login using a valid Firefox account.
1. Go to menu ~~> Firefox account~~ > Manage Account & Devices
1. Tap on the "Add" button from the 2FA section.
1. Enter the security code from the authentication app and tap on "Continue".
1. Tap on the "Downloa

[2021-03-16 09:57] data-sync-user opened #7830 "[FxA-Settings] 2FA codes replacing error received after enabling the 2FA on a different device"
**Build**
Stage [Train 1.202.1]

**Affected platforms**
Windows 10
iOS 14.4

**Steps to reproduce**

1. Navigate to https://accounts.stage.mozaws.net/beta/settings/ and login using an existing account.
1. Login using the same account on a different device and enable the 2FA.
1. On the first device, click on the "Refresh" button displayed in the 2FA section.
1. On the same device, click on the "Cha

[2021-03-16 16:10] data-sync-user commented on #7766
➤ Wil Clouser commented:

This is a good first bug but we need to fill in what the actual values should be from the spec.

[2021-03-16 16:13] data-sync-user commented on #7765
➤ Wil Clouser commented:

In triage we're not sure how to do this without polling which we're shy about using, but there is probably a method since it's pretty common on the web.  If we figure it out for the 2FA row it would probably work for all three.

[2021-03-16 16:16] data-sync-user commented on #7762
➤ Wil Clouser commented:

This is a good first issue but we need to put the actual padding values we want to use here.  I assume it is in the spec.

[2021-03-16 16:17] data-sync-user commented on #7761
➤ Wil Clouser commented:

Let's remove the time and only show the date.

[2021-03-16 16:20] data-sync-user commented on #7757
➤ Wil Clouser commented:

This is a good first issue, but we need to specify the color/padding.  It should be in the spec.

[2021-03-16 16:21] data-sync-user commented on #7758
➤ Wil Clouser commented:

These shouldn't need new strings as it's just changing case.

[2021-03-16 16:27] clouserw commented on #7803
Thanks for filling this issue.  We're having trouble understanding what this bug is about.  Can you add some clarification as to your request?  Thanks

[2021-03-16 16:30] data-sync-user commented on #7815
➤ Wil Clouser commented:

[~rbillings@mozilla.com] - are you able to reproduce this?  We think it might have been a caching issue as we haven't reproduced.

[2021-03-16 16:40] data-sync-user commented on #7799
➤ Chelsea Lewis commented:

Changing ping to the channel is an easy fix; not sure on the difficulty of the other items.

Have a script that runs on jenkins, sends request to circleci. Have the url for this and needs to be identified how to send a slack notification in jenkins. Can't have circleci send notifications directly.

[2021-03-16 16:42] vbudhram commented on #7705
Yea this is exactly what is going on, if you `maxSize/2` , then the picture gets uploaded properly. Seems like we could use something like https://github.com/jhildenbiddle/canvas-size, but maybe that is a bit overkill?

I'm not too familiar with this code, so a little uncertain how to make it more efficient.

[2021-03-16 16:48] #7739 closed

[2021-03-16 17:04] erosman commented on #7803
### ref [Secure your Firefox Account with two-step authentication](https://support.mozilla.org/en-US/kb/secure-firefox-account-two-step-authentication?utm_source=transactional&utm_medium=email&utm_campaign=2021-2fa-enforcement)

- **Authy 2-Factor Authentication** is not available to all users since `authy.com` blocks access from some countries
- **Mobile Options** is not available to users since

[2021-03-16 17:12] data-sync-user commented on #7815
➤ Rebecca Billings commented:

I was able to reproduce this on staging following the steps above. !Screen Shot 2021-03-16 at 10.11.08 AM.png!

[2021-03-16 17:41] data-sync-user commented on #7815
➤ Rebecca Billings commented:

Doing a bit more research I discovered that I get different flows that may or may not relate to this bug.

1) Steps:

  1. Set up recovery key
  2. Sign out using the FxA toolbar > Account Settings > Sign Out
  3. Forgot password
  4. Receive email, click Create New Password link
  5. Insert the recovery key and click on the "Confirm recovery key".
  6. Complete the

[2021-03-16 17:46] vbudhram commented on #7705
Looks like there are a few issues with Safair when using the camera and cropping in general. It doesn't crop correctly on desktop.

<img width="601" alt="Screen Shot 2021-03-16 at 1 37 24 PM" src="https://user-images.githubusercontent.com/1295288/111354715-fa563900-865c-11eb-961d-1df37660d6c0.png">

New settings uses `react-easy-crop` library but I haven't narrowed down the cause. @meandavejustice

[2021-03-16 17:54] clouserw commented on #7803
Thanks for the feedback.  We continue to support and expand our options as we can.  I'm glad you found a solution that worked for you.  :+1:

[2021-03-16 17:54] #7803 closed

[2021-03-16 18:02] Yogita98 commented on #7810
The figma design link is not accessible. Can you look into it?

[2021-03-16 18:09] Yogita98 commented on #7761
I'm quite confused on how do I reproduce this issue. @janiceahn Can you please explain me the detailed steps of reproducing this issue?

[2021-03-16 18:27] janiceahn commented on #7761
@Yogita98 I believe that you can reproduce this by resetting your password — the date and time should then both appear.

[2021-03-16 18:50] Yogita98 commented on #7761
You have mentioned in the issue:

Do I need to navigate to any route because when I'm changing the password via forgot password on the sign in screen or by selecting change password on the http://localhost:3030/settings I'm redirected again to http://localhost:3030/settings which doesn't indicate the time or date of password creation

[2021-03-16 19:07] data-sync-user commented on #4844
➤ Wil Clouser commented:

Sounds like this is mostly around keeping our spam score low.  We should revisit our thresholds for blocking hard and soft bounces.

[2021-03-16 19:11] data-sync-user commented on #7808
➤ Bianca Danforth commented:

We plan to use an existing template for this e-mail.

[~byee@mozilla.com], we had discussed in our weekly PayPal meeting that you would take the action item to provide the copy for this new e-mail. Can you share it when that's ready? This ticket is blocked on the copy.

[2021-03-16 19:14] jodyheavener commented on #7761
@Yogita98 there have been some recent changes to paths as FXA rolls out a new Settings UI. Can you make sure you've pulled in the latest changes from `main`? I think if everything is set up properly accessing the address above _should_ redirect you to `/beta/settings`.

[2021-03-16 19:16] data-sync-user commented on #7784
➤ Jessica Cook commented:

Link to reference for transactional emails: https://miro.com/app/board/o9J_lWaWaZA=/ ( https://miro.com/app/board/o9J_lWaWaZA=/ )

[2021-03-16 20:55] data-sync-user opened #7833 "[subplat] Subscribing to Additional Products as An Existing Stripe Customer is Not Working Anymore"
STR:

1. Subscribe to a product using Stripe as the payment provider
1. Try to subscribe to another product

Expected:

A second subscription is created for the second product.

Actual:

An unrecoverable error.

The cause of this issue appears to be that the frontend no longer send the payment method id in the request to create the new subscription.

┆Issue is synchronized with this [Jira Bug](htt

[2021-03-16 20:55] 6a68 opened #7834 "/.well-known/change-password 404s on CI"
This redirects correctly for me locally, but on CI seems to 404: https://app.circleci.com/pipelines/github/mozilla/fxa/17302/workflows/9fe7b0d0-68bd-4403-b9b1-206aa1203d2c/jobs/224495

Let's get it working

┆Issue is synchronized with this [Jira Task](https://jira.mozilla.com/browse/FXA-3190)
┆Issue Number: FXA-3190

[2021-03-16 20:59] 6a68 opened #7835 "Unexpected email headers in smoke tests"
Looking at current runs, we're seeing test failures in both totp_sign_in and recovery_key functional tests where the email received doesn't have the expected x-template-name header, in the unverified session tests.

Failing tests are the same in both suites:
* gated in unverified session open verification same tab
* gated in unverified session open verification new tab
* gated in unverified sessio

[2021-03-16 21:06] 6a68 opened #7836 "settings_change_email test failures"
I had disabled settings_change_email functional test because we have a similar test file in settings_v2, but brought it back because it was in the list of functional smoke tests, and we're aiming for smoke test parity before landing new-settings by default.

I haven't looked closely at the errors, but so far it's mostly been:
* updating selectors in lib/selectors to use v2 selectors in place of ol

[2021-03-16 23:48] meandavejustice commented on #7705
We are using react-easy-crop for uploads and captures to ensure it's the correct shape/dimension. Without digging into this issue locally, I would recommend taking a look at these functions:

- https://github.com/mozilla/fxa/blob/main/packages/fxa-settings/src/components/PageAvatar/index.tsx#L122
- https://github.com/mozilla/fxa/blob/main/packages/fxa-settings/src/components/PageAvatar/index.tsx#L

[2021-03-17 11:11] wagnerand opened #7845 "Allow AMO to trigger a reauth"
For critical things like deleting an add-on or an AMO account (when triggered from within AMO), having a way for AMO to trigger an FxA reauth would be a good security improvement.

[2021-03-17 11:44] data-sync-user commented on #7833
➤ Madalin Cotetiu commented:

I'm able to also reproduce this. The user will be able to see this in production if they will try to subscribe on the same account to both our products (the vpn app and the browser extension).

[2021-03-17 13:41] data-sync-user opened #7846 "[FxA-Settings] Secondary email Resend verification code link is not available if French language is selected"
**Build:**
 Stage

**Affected platforms:**
 Windows 10

**Preconditions:**
 French language is selected.
 A secondary email address is added having Unverified state.

**Steps to reproduce:**

1. Navigate to [https://accounts.stage.mozaws.net/](https://accounts.stage.mozaws.net/) and log in using an existing account.
1. Go to the ‘Profile section’ at ‘Secondary email’.
1. Observe the text displayed

[2021-03-17 14:07] data-sync-user opened #7847 "Some text is missing translation when different languages are selected"
**Build:**
 Stage

**Affected platforms:**
 Windows 10

**Steps to reproduce:**

1. Launch Firefox using a fr, ge, ar, sq, cy etc build (or set the desired language from about:preferences -> Choose your preferred language for displaying pages).
1. Navigate to [https://accounts.stage.mozaws.net/](https://accounts.stage.mozaws.net/) and log in using an existing account.
1. Verify that text is correc

[2021-03-17 14:20] data-sync-user opened #7848 "[FxA-Settings] Several buttons displayed on 2 lines for some languages"
**Build**
 Stage [Train 1.202.1]

**Affected platforms**
 Windows 10

**Steps to reproduce**

1. Launch Firefox using Fr or ZH-TW build (or set the desired language from about:preferences -> Choose your preferred language for displaying pages)
1. Go to [https://accounts.stage.mozaws.net/settings/](https://accounts.stage.mozaws.net/settings/) and login using an existing account.
1. While using a FR

[2021-03-17 14:50] data-sync-user opened #7850 "[subplat] Update Legal Doc Links to Use Redirect Endpoint"
In FXA-3112 we added an endpoint for the legal-docs.  We need to update the frontend wherever the legal doc links appear to use the new endpoint, and not simply the metadata.

┆Issue is synchronized with this [Jira Task](https://jira.mozilla.com/browse/FXA-3197)
┆Issue Number: FXA-3197

[2021-03-17 15:12] data-sync-user commented on #7830
➤ Wil Clouser commented:

This is happening because the second device's session was verified with 2FA and the first session was not.  You can only modify 2FA tokens if the session you are in was verified with them.  This isn't a regression but it's something we could look at to make friendlier.

[2021-03-17 15:23] data-sync-user commented on #7829
➤ Wil Clouser commented:

This is an iOS menu-ing bug.  There may be a work around we can do, but it'll be some work to investigate.

[2021-03-17 15:23] data-sync-user commented on #7555
➤ Wil Clouser commented:

Can you give us the dimensions of the image?  Does this work with a normal picture instead of a solid color?  The image size limit is 2MB so this seems like it would be rare with non-solid color images.

[2021-03-17 15:28] data-sync-user commented on #7815
➤ Wil Clouser commented:

Thanks Rebecca for the detailed steps.

[2021-03-17 15:28] data-sync-user commented on #7561
➤ Wil Clouser commented:

One option may be to change the wording here, eg. "You may be connected..."  We should consult the original designs.

[2021-03-17 15:34] data-sync-user commented on #7435
➤ Wil Clouser commented:

!screenshot-1.png|thumbnail! Attaching a screenshot from the spec.  Looks like we're missing some words.

[2021-03-17 15:39] data-sync-user commented on #7847
➤ Wil Clouser commented:

I verified that French settings strings are fully translated, and spot checked "Sign out" which is translated.  https://pontoon.mozilla.org/fr/firefox-accounts/settings.ftl/?search=Sign&string=220423

[2021-03-17 15:39] data-sync-user commented on #7846
➤ Wil Clouser commented:

This looks like a mistake in pontoon, translating button:  https://pontoon.mozilla.org/fr/firefox-accounts/settings.ftl/?search=renvoyer&string=220480

[~pmo@mozilla.com] would you let the French team know?

[2021-03-17 16:27] vbudhram commented on #7421
Confirmed that the delete message does not appear. The query param to show is set though `delete_account_success=true`.

[2021-03-17 17:22] data-sync-user opened #7852 "[Bug] Subscription active with failed PayPal transaction in Checkout"
STR:

1. Create a sandbox buyer account on PayPal with only $4 on the the PayPal credit and the bank account removed (credit card should stay as the only funding source)
1. Go the the product page and go through the checkout and click the PayPal button
1. Create a Billing agreement and before you click the green "Continue" button, go back to the buyer PayPal account and remove the credit card fund

[2021-03-17 17:59] data-sync-user opened #7853 "[subplat] Update VPN Product Legal Docs Metadata to Use the New "Localizeable" Urls"
NOTE: This should NOT be done prior to FXA-3114 in production.

The following metadata needs to be updated:

* product:termsOfServiceDownloadURL -> [https://accounts-static.cdn.mozilla.net/legal/mozilla_vpn_tos](https://accounts-static.cdn.mozilla.net/legal/mozilla_vpn_tos)
* product:privacyNoticeDownloadURL ~~> https://accounts~~static.cdn.mozilla.net/legal/mozilla_vpn_privacy_notice

┆Issue is s

[2021-03-17 18:20] data-sync-user opened #7854 "Change permissions in the PayPal developer dashboard if they exist to disable certain unused APIs"
Note: This is a mitigation following the RRA - PayPal integration to Subscription Platform.

The first step here would be to see if such a permission exists. Then we'd want to identify the set of APIs we want to turn off. Actually turning off the APIs may be a task for Finance as the admin of Mozilla's PayPal account.

┆Issue is synchronized with this [Jira Task](https://jira.mozilla.com/browse/FX

[2021-03-17 18:20] data-sync-user commented on #7854
➤ Benjamin Bangert commented:

Here is what the sandbox permissions look like:

!image-2021-03-17-11-18-04-174.png!

When we deploy, the production settings should look the same.

[2021-03-17 18:44] jaredhirsch opened #7855 "Deleting account no longer clears storage on backbone side"
I've noticed in updating the functional tests that deleting the account now leads to the "Enter password to sign in" form. I suspect this is because deleting the account clears data on the React side, but not on the Backbone side.

The simplest fix seems to be react clearing out the localstorage state on delete. I'm not sure if communication with the backbone app is necessary.

┆Issue is synchroni

[2021-03-17 18:52] data-sync-user opened #7856 "[subplat] Remove Default Product Metadata"
There are default product metadata in the code base that act as the final fallback values when something is not found in the product/plan.  It made sense when VPN was the only product.  But with multiple products, it would produce false positives and hide incorrect product/plan configuration.

┆Issue is synchronized with this [Jira Task](https://jira.mozilla.com/browse/FXA-3201)
┆Issue Number: FXA

[2021-03-17 18:57] 6a68 opened #7857 "Ensure fxaccounts:change_password fires"
It seems that the `fxaccounts:change_password` is not firing in new settings, but it should be

┆Issue is synchronized with this [Jira Task](https://jira.mozilla.com/browse/FXA-3202)
┆Issue Number: FXA-3202

[2021-03-17 19:58] data-sync-user commented on #7810
➤ Barry Chen commented:

It's not just the error message.  The spinner screen and some of the text on the subscription success page have the issue.  See attached img.

[2021-03-17 20:21] #7693 closed

[2021-03-17 21:04] #7703 closed

[2021-03-17 21:34] data-sync-user commented on #7810
➤ Barry Chen commented:

Latest screenshot is to show the inconsistency in font colors.

[2021-03-17 21:48] data-sync-user commented on #7833
➤ Barry Chen commented:

I've confirm locally that this has been fixed by https://github.com/mozilla/fxa/pull/7859/ \o/

[2021-03-17 21:49] #7833 closed

[2021-03-17 21:49] data-sync-user commented on #7833
➤ Barry Chen commented:

It's fixed in https://github.com/mozilla/fxa/pull/7859/

[2021-03-17 22:37] data-sync-user commented on #7846
➤ Peiying Mo commented:

I have fixed it.

[2021-03-17 22:55] data-sync-user opened #7862 "[subplat] Display Plan and Payment Method Currency Mismatch Error to Returning Stripe Customers"
We have an error that we display to new customers trying to subscribe to a plan in a currency that does not match the currency on their payment method. We should show this error to returning Stripe customers.

Instead of:

* showing the subscribe with existing payment method screen, and then displaying a generic error when the customer submits the form,

We should:

* display the currency mismatch

[2021-03-17 22:57] jaredhirsch opened #7863 "Investigate and re-enable test: change primary email then delete account"
For some reason, the 'can change primary email, delete account' test in tests/functional/settings_change_email is failing on CI, but passing for me locally.

I've disabled the test to get new-settings cleanup changes landed, but we should go back and investigate what's up here.

┆Issue is synchronized with this [Jira Task](https://jira.mozilla.com/browse/FXA-3204)
┆Issue Number: FXA-3204

[2021-03-18 10:42] data-sync-user opened #7872 "[FxA-Settings] Old settings page displayed at the end of pairing flow"
**Build**
Prod [Train 1.202.1]

**Affected platforms**
Windows 10
macOS 10.14.6

**Steps to reproduce**

1. Login on desktop using an existing account.
1. Login on a device using the pairing method.
1. On the desktop side, on the "Device connected" screen displayed at the end of the pairing flow, click on the "Manage devices" button.

**Expected results**
The user is redirected to the Connected Se

[2021-03-18 11:09] data-sync-user commented on #7126
➤ Vasilica Tamas commented:

The 2FA download/copy/print icons are now overlapping the Cancel/Continue buttons on Prod [Train 1.202.1] under Windows 10 64-bit and macOS 10.14.6. Increasing the severity.

[2021-03-18 11:43] data-sync-user commented on #7555
➤ Vasilica Tamas commented:

It is not about the size limit, but rather about the shape of the picture. Attaching a new screenshot and the used picture.

[2021-03-18 13:50] ShrutiKatpara commented on #7760
hey, is it done? Or shall I move ahead and fix it?

[2021-03-18 14:28] data-sync-user commented on #7847
➤ Bianca Oltean commented:

In the Avatar drop-down 'Sign out' is not translated.

!image-2021-03-18-16-28-00-925.png!

[2021-03-18 14:37] Yogita98 commented on #7761
Yes correct I was working with the old version. I have pulled in new changes from `main` and will get started on this. Thanks @jodyheavener

[2021-03-18 14:40] data-sync-user opened #7873 "Payments made with Paypal are marked as canceled in the Stripe dashboard"
**Build**

* Stage [Train 1.202.2"]

**Affected platforms**

* Windows 10 x64

**Steps to reproduce**
1. Create a new subscription with paypal (use this product: https://accounts.stage.mozaws.net/subscriptions/products/prod_IyCWnXUbkYjDgL?plan=price_1IMG7KKb9q6OnNsL15Hsn1HE)
2. Open Stripe dashboard and find the invoice for this subscription.
3. Scroll down to the Payments section and observe the

[2021-03-18 15:16] data-sync-user commented on #7847
➤ Wil Clouser commented:

Sorry I wasn't clear in my comment - I was confirming this bug.  There is a problem in the code that needs fixing.  Thanks for filing!

[2021-03-18 15:28] data-sync-user opened #7874 "Invalid date displayed for next billing date in the subscription reactivated email"
**Build**

* Stage [Train 1.202.2"]

**Affected platforms**

* Windows 10 x64

**Steps to reproduce**
 1. Create a new subscription with paypal (use this product: [https://accounts.stage.mozaws.net/subscriptions/products/prod_IyCWnXUbkYjDgL?plan=price_1IMG7KKb9q6OnNsL15Hsn1HE](https://accounts.stage.mozaws.net/subscriptions/products/prod_IyCWnXUbkYjDgL?plan=price_1IMG7KKb9q6OnNsL15Hsn1HE))
 2. Can

[2021-03-18 15:47] #7846 closed

[2021-03-18 15:47] data-sync-user commented on #7846
➤ Wil Clouser commented:

thank you

[2021-03-18 16:04] data-sync-user commented on #7822
➤ Dave Justice commented:

Already an issue for this one 😀

[2021-03-18 16:53] data-sync-user commented on #7816
➤ Danny Coates commented:

With an image this simple we ought to be able to generate them "on the fly" and never store them on disk

[2021-03-18 18:19] data-sync-user opened #7876 "[iOS] Cannot access account settings"
* Use iOS
* Be logged in to sync in Firefox

STR:

1) Use iOS, run Firefox
 2) Click Hamburger Menu
 3) Click your email address
 4) Click Manage Account & Devices

We see a flash (1-2 seconds) of a General Application Error page and then are redirected to a log in. This error should be resolved so that users can access Settings.

┆Issue is synchronized with this [Jira Bug](https://jira.mozilla.co

[2021-03-18 18:29] #7873 closed

[2021-03-18 18:29] data-sync-user commented on #7873
➤ Benjamin Bangert commented:

This is a known issue in how Stripe handles manual invoice subscriptions. Their system by design always creates a payment attempt, even though they cannot make the payment. This results in an incomplete/canceled initial payment for the subscription as well as a cancelled invoice.

[2021-03-18 18:43] #1448 closed

[2021-03-18 18:43] data-sync-user commented on #1448
➤ Wil Clouser commented:

tracked in bugzilla

[2021-03-18 18:43] #1447 closed

[2021-03-18 18:43] data-sync-user commented on #1447
➤ Wil Clouser commented:

tracked in bugzilla

[2021-03-18 18:43] #1446 closed

[2021-03-18 18:43] data-sync-user commented on #1446
➤ Wil Clouser commented:

tracked in bugzilla

[2021-03-18 18:43] #1449 closed

[2021-03-18 18:43] data-sync-user commented on #1449
➤ Wil Clouser commented:

tracked in bugzilla

[2021-03-18 18:44] #1522 closed

[2021-03-18 18:44] data-sync-user commented on #1522
➤ Wil Clouser commented:

tracked in bugzilla

[2021-03-18 18:44] #1504 closed

[2021-03-18 18:44] data-sync-user commented on #1504
➤ Wil Clouser commented:

tracked in bugzilla

[2021-03-18 18:44] #1502 closed

[2021-03-18 18:44] data-sync-user commented on #1502
➤ Wil Clouser commented:

tracked in bugzilla

[2021-03-18 18:44] #1483 closed

[2021-03-18 18:44] data-sync-user commented on #1483
➤ Wil Clouser commented:

tracked in bugzilla

[2021-03-18 18:45] #1413 closed

[2021-03-18 18:45] data-sync-user commented on #1413
➤ Wil Clouser commented:

tracked in bugzilla

[2021-03-18 18:45] #1401 closed

[2021-03-18 18:45] data-sync-user commented on #1401
➤ Wil Clouser commented:

tracked in bugzilla

[2021-03-18 19:12] #7794 closed

[2021-03-18 19:44] #7852 closed

[2021-03-18 19:48] jaredhirsch opened #7878 "Inline lib/beta-settings into server/bin/fxa-content-server"
There's a `server/lib/beta-settings.js` file that could probably be inlined into `server/bin/fxa-content-server.js`.

`server/lib/beta-settings.js` also sets the `settingsIndexPath` to beta/settings/index.html, which we probably should update to remove the 'beta' reference.

┆Issue is synchronized with this [Jira Task](https://jira.mozilla.com/browse/FXA-3210)
┆Issue Number: FXA-3210

[2021-03-18 19:51] jaredhirsch opened #7879 "Functional tests - investigate re-enabling tests other than smoke tests"
Removing the old-settings code broke the old functional tests. To keep things moving, #7776 disabled all but the smoke tests and got those passing.

This bug's a placeholder to figure out how to slice up the remaining work to get the other tests running.

┆Issue is synchronized with this [Jira Task](https://jira.mozilla.com/browse/FXA-3209)
┆Issue Number: FXA-3209

[2021-03-18 19:54] data-sync-user commented on #7262
➤ Bianca Danforth commented:

This depends on FXA-2806, as the existing set of `Amplitude.updateDefaultPaymentMethod` events currently come from submitting the `PaymentForm` for Stripe customers as opposed to clicking the "Change" button and the different behavior downstream of that for PayPal per the design spec ( https://www.figma.com/file/ejDMYaKpm5bsYL5YvhItur/Payment-Integration?node-id=859%3

[2021-03-18 19:54] jaredhirsch opened #7880 "Functional tests - remove SETTINGS_V2 references"
(Followup to #7776.) For historical reasons, there are `SETTINGS_V2` selectors defined in `fxa-content-server/tests/functional/lib/selectors.js`, and the `SETTINGS` selectors have largely been replaced with references to the `SETTINGS_V2` selectors.

Since old settings is gone, it makes sense to just inline the `SETTINGS_V2` selectors.

┆Issue is synchronized with this [Jira Task](https://jira.moz

[2021-03-18 20:04] 6a68 commented on #7857
Closing as invalid - Danny pointed out that the way to listen for these commands has changed a bit, but they are still getting fired. The new helpers to use are `getWebChannelMessageData` and `storeWebChannelMessageData`.

[2021-03-18 20:04] #7857 closed

[2021-03-18 20:49] jaredhirsch opened #7882 "Functional tests - update testElementWasShown"
Followup from [this comment](https://github.com/mozilla/fxa/pull/7776/files#r596997228) in #7776.

The data-shown check was disabled in the `testElementWasShown` function in `fxa-content-server/tests/functional/lib/helpers.js`. The data-shown attribute is still used in error/success screens outside of new-settings, so we probably need different success/error helpers for settings, to check the Aler

[2021-03-18 21:33] data-sync-user commented on #7262
➤ Bianca Danforth commented:

Unfortunately, we cannot simply record the equivalent of `Amplitude.updateDefaultPaymentMethod_*()` (where * is PENDING, FULFILLED or REJECTED), as PayPal works differently from Stripe in this regard in most cases (1 and 2 below).

First, some background: Per FXA-2806, there are 3 states a PayPal customer's payment method could be in when they go to Subscription Manag

[2021-03-18 21:46] data-sync-user opened #7883 "[subplat] Create a new Amplitude event for when the "Change" button is clicked"
Quoting part of [this comment](https://jira.mozilla.com/browse/FXA-2895?focusedCommentId=243696&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-243696) in FXA-2895: 

_After a lengthy [Slack conversation with Barry](https://mozilla.slack.com/archives/CG0AJ6E77/p1616096159021900), we agreed that the best strategy is to recognize that Stripe and PayPal work differently,

[2021-03-18 22:07] data-sync-user commented on #7876
➤ Danny Coates commented:

The error flash is fixed. (deploying soon)

"Since we are logged in to sync still, we shouldn't have to log in at this point."

This is more complicated and would require some browser work. The mobile browsers authenticate to setting separately from sync.

[2021-03-18 22:13] jaredhirsch opened #7885 "Functional tests - abstract out label click trick"
A lot of the new-settings form controls can't be clicked directly, because intern.js complains that the element isn't clickable because something else is on top of it (whether an SVG or a label that animates away on click/focus). I found a couple different workarounds in #7776:

* for text inputs / password inputs, click the label, then click the input, then type into the input
* for delete accoun

[2021-03-18 23:05] 6a68 commented on #7798
Closed by #7776

[2021-03-18 23:05] #7798 closed

[2021-03-19 00:28] data-sync-user opened #7886 "Failed payment email is sent instead of subscription cancelled email"
From claudijd ([Slack thread](https://mozilla.slack.com/archives/CG0AJ6E77/p1616106398035700))

STR:
1. Have an active VPN subscription
2. Have a recurring payment fail due to a `card_error` (e.g. wrong zipcode)
3. Receive a first failed payment email as expected
4. Wait <grace_period>*

*: Currently 24 hours.

Actual results:

* After the grace period, receive a second failed payment email.

Expe

[2021-03-19 15:13] data-sync-user commented on #7784
➤ Barry Chen commented:

[~jecook@mozilla.com] Thanks for that link.  I didn't see anything PayPal billing agreement specific in there.  Are we reusing the "Sorry, we're having trouble with your payment" email?

[2021-03-19 15:30] data-sync-user opened #7893 "Two scrollbars and a blank area at the bottom of the PayPal window are displayed if the “Accept Cookies” notification is displayed in the account creation screen"
**Build:**
Stage [Train 1.202.3]

**Affected platforms:**
Windows 10 x64

**Steps to reproduce:**
1. Navigate to this page: https://www-demo1.allizom.org/en-US/products/vpn/
2. Click one of the “Get Mozilla VPN” buttons.
3. Log into your Firefox Account.
4. On the “Set up your subscription” page, click the “PayPal” button.
5. Click the “Create an Account” button.
6. After the page is loaded, obser

[2021-03-19 15:44] data-sync-user commented on #7876
➤ Chelsea Lewis commented:

The error flash fix was deployed with FxA 202.3 on March 18th at 3:42pm PT. Reaching out to iOS and FxA PMs to confirm flow wrt ticket's A/C: "Since we are logged in to sync still, we shouldn't have to log in at this point."

[2021-03-19 15:44] data-sync-user opened #7894 "An “Error icon” string is displayed after clicking the “PayPal” button while the internet is disconnected"
**Build:**

* Stage [Train 1.202.3]

**Affected platforms:**

* Windows 10 x64

**Steps to reproduce:**

1. Navigate to this page: [https://www-demo1.allizom.org/en-US/products/vpn](https://www-demo1.allizom.org/en-US/products/vpn/)
1. Click one of the “Get Mozilla VPN” buttons.
1. Log into your Firefox Account.
1. Disconnect from the internet while you are on the “Set up your subscription” page. 

[2021-03-19 15:52] data-sync-user opened #7895 "The card animation from the CC field and the check mark from the Mozilla authorization tickbox are no longer displayed after disconnecting from the internet"
**Build:**

* Stage [Train 1.202.3]

**Affected platforms:**

* Windows 10 x64

**Steps to reproduce:**
1. Navigate to this page: https://www-demo1.allizom.org/en-US/products/vpn/
2. Click one of the “Get Mozilla VPN” buttons.
3. Log into your Firefox Account.
4. Disconnect from the internet while you are on the “Set up your subscription” page.
5. Start typing a card number in the CC field and obs

[2021-03-19 15:55] data-sync-user commented on #7784
➤ Barry Chen commented:

None of the existing emails seem to quite match this scenario.  I'll create a new one.

[2021-03-19 16:00] data-sync-user commented on #7876
➤ Wil Clouser commented:

"Since we are logged in to sync still, we shouldn't have to log in at this point." was my assumption and if not a regression is unrelated to this issue.

[2021-03-19 16:13] data-sync-user opened #7896 "[Accessibility issue] The PayPal button can be focused twice using the keyboard navigation"
**Build:**

* Stage [Train 1.202.3]

**Affected platforms:**

* Windows 10 x64

**Steps to reproduce:**
1. Navigate to this page: https://www-demo1.allizom.org/en-US/products/vpn/
2. Click one of the “Get Mozilla VPN” buttons.
3. Log into your Firefox Account.
4. While you are on the “Set up your subscription” page, press the “Tab” key until the “PayPal” button is focused.
5. Press the “Tab” key o

[2021-03-19 16:20] data-sync-user opened #7897 "The loading spinner is no longer displayed inside the button after reconnecting to the internet and clicking the “Pay now” button"
**Build:**

* Stage [Train 1.202.3]

**Affected platforms:**

* Windows 10 x64

**Steps to reproduce:**
1. Navigate to this page: https://www-demo1.allizom.org/en-US/products/vpn/
2. Click one of the “Get Mozilla VPN” buttons.
3. Log into your Firefox Account.
4. Disconnect from the internet while you are on the “Set up your subscription” page.
5. Enter valid credentials in the Name and CC fields

[2021-03-19 16:21] #7876 closed

[2021-03-19 16:21] data-sync-user commented on #7876
➤ Chelsea Lewis commented:

Removed the assumption from the ticket per conversation in Slack. As this is not a regression, and as the error is resolved, closing this bug.

[2021-03-19 16:29] data-sync-user opened #7898 "The loading spinner inside the “Cancel” button from the FxA Subscriptions page is poorly visible since its color is similar to the color of the button’s background"
**Build:**

* Stage [Train 1.202.3]

**Affected platforms:**

* Windows 10 x64

**Prerequisites:**

* You have at least 1 active subscription on the FxA Subscriptions page.

**Steps to reproduce:**
1. Navigate to your FxA Subscriptions page.
2. Select one active subscription.
3. Check the “Cancel my access..” tickbox and click the “Cancel” button.
4. Observe what happens next with the button.

**E

[2021-03-19 16:29] 6a68 commented on #7815
@rbillings I can't reproduce flow #1 above, either locally or on staging, but I can reproduce flow #2. Maybe we should close this issue and open a new issue for flow #2 not ending with an offer to create a new recovery key?

[2021-03-19 16:43] 6a68 commented on #7815
We chatted about this on slack.

The flow needs to start by signing out from the browser:

<img width="336" alt="Screen Shot 2021-03-19 at 9 42 17 AM" src="https://user-images.githubusercontent.com/96396/111814186-69b76d00-8897-11eb-9712-83f9baa7fa8c.png">

And after creating a password, the user winds up at `/reset_password_with_recovery_key_verified` with `service=sync` in the params:

<img widt

[2021-03-19 16:43] data-sync-user opened #7899 "There is no footer displayed on the bottom of the Subscription pages"
**Build:**

* Stage [Train 1.202.3]

**Affected platforms:**

* Windows 10 x64

**Steps to reproduce:**
1. Navigate to this page: https://www-demo1.allizom.org/en-US/products/vpn/
2. Click one of the “Get Mozilla VPN” buttons.
3. Log into your Firefox Account.
4. While you are on the “Set up your subscription” page, observe the bottom of the page.

**Expected results:**

* A footer with links is d

[2021-03-19 16:52] data-sync-user opened #7900 "The total price of the product is displayed outside the Product information card on the Subscription pages"
**Build:**

* Stage [Train 1.202.3]

**Affected platforms:**

* Windows 10 x64

**Steps to reproduce:**
1. Navigate to this page: https://www-demo1.allizom.org/en-US/products/vpn/
2. Click one of the “Get Mozilla VPN” buttons.
3. Log into your Firefox Account.
4. While you are on the “Set up your subscription” page observe the Product details section from the right side of the page.

**Expected re

[2021-03-19 17:00] data-sync-user opened #7901 "The PayPal window remains stuck into a loading loop if the internet is disconnected while a process is in progress/loading"
**Build:**

* Stage [Train 1.202.3]

**Affected platforms:**

* Windows 10 x64

**Steps to reproduce:**
1. Navigate to this page: https://www-demo1.allizom.org/en-US/products/vpn/
2. Click one of the “Get Mozilla VPN” buttons.
3. Log into your Firefox Account.
4. On the “Set up your subscription” page, click the “PayPal” button.
5. Click the “Create an Account” button.
6. Disconnect from the inter

[2021-03-19 17:07] data-sync-user opened #7903 "The billing update notification overlaps the Firefox Accounts logo text"
**Build:**

* Stage [Train 1.202.3]

**Affected platforms:**

* Windows 10 x64

**Prerequisites:**

* You have at least 1 active subscription on the FxA Subscriptions page.

**Steps to reproduce:**
1. Navigate to your FxA Subscriptions page.
2. Select one active subscription.
3. Change any data from the “Payment information” section.
4. Save the change and observe what happens next.

**Expected re

[2021-03-19 17:13] data-sync-user opened #7904 "The American Express CC icon is not displayed in the “Subscription confirmation” and “FxA Subscription” pages"
**Build:**

* Stage [Train 1.202.3]

**Affected platforms:**

* Windows 10 x64

**Prerequisites:**

* You have at least 1 active subscription on the FxA Subscriptions page.

**Steps to reproduce:**
1. Navigate to this page: https://www-demo1.allizom.org/en-US/products/vpn/
2. Click one of the “Get Mozilla VPN” buttons.
3. Log into your Firefox Account.
4. On the “Set up your subscription” page add

[2021-03-19 17:38] #7687 closed

[2021-03-19 17:44] data-sync-user opened #7905 ""Error text TBD" error banner presented on too many invalid password changes"
STR:

* Go to stage settings
* Go to change your password
* Fill in all the fields, but leave the current password empty or invalid
* Submit - you will be presented with an "Invalid Password" tooltip
* Submit again, repeatedly (5-6 times)

Expected:

Continue to receive the "Invalid password" tooltip

Actual:

Presented with a banner-style error that says "Error text TBD. Incorrect password"

Solu

[2021-03-19 17:54] data-sync-user opened #7906 "Can we be more helpful when rate limiting?"
I noticed that it's pretty easy to get rate limited on prod, and if that happens and you reload the page (i.e. a fresh app load) you get the "General application error".

This is just the app catching on the error boundary due to the failed GQL request, which has access to the error message ("Client has sent too many requests"). Maybe we could display that or a similar message, instead of "Somethi

[2021-03-19 18:44] #7815 closed

[2021-03-19 18:58] data-sync-user opened #7908 "UI - refine notifications"
Notification placement has been updated in figma, we should update that placement and also match the component behavior and styles closer to what we have in fxa-settings

https://www.figma.com/file/ejDMYaKpm5bsYL5YvhItur/Payment-Integration?node-id=1019%3A770

┆Issue is synchronized with this [Jira Task](https://jira.mozilla.com/browse/FXA-3229)
┆Issue Number: FXA-3229

[2021-03-19 18:59] data-sync-user commented on #7908
➤ Dave Justice commented:

[~jecook@mozilla.com] Are we going to want all notifications to have this placement? Or should we add this as an optional placement?

[2021-03-19 22:02] data-sync-user commented on #7555
➤ Jared Hirsch commented:

[~vtamas@mozilla.com] I've tried the attached image and tall / wide images, but I'm not able to reproduce this issue. If you are still able to reproduce the bug, could you attach a video showing how you trigger it? Thanks!

[2021-03-20 01:32] #7872 closed

[2021-03-20 10:30] jackyzy823 opened #7915 "[Feature Request] internal communication between fxa-graphql-api and fxa-auth-server"
As a self hosting fxa user , I want `fxa-graphql-api` to use internal `AUTH_SERVER_URL` URL to communicate with `fxa-auth-server`.

However `fxa-auth-client` used by `fxa-graphql-api` calculates hawk mac using host of internal URL which will fail to be verified in `fxa-auth-server` since `fxa-auth-server` use `PUBLIC_URL` as it's host.

So is it possible to
1.  make `fxa-auth-client` **optionally*

[2021-03-22 12:26] data-sync-user commented on #7555
➤ Vasilica Tamas commented:

[~jhirsch@mozilla.com] I'm attaching a video in which I used a smaller picture for a better understanding (attaching also the uploaded image)

[2021-03-22 13:22] data-sync-user opened #7919 "[FxA-Settings] ‘Profile picture’, ‘Change password’ and ‘Two-step authentication’ separate pages title is written with uppercase letters"
**Build:**
 Stage [Train 1.202.3]

**Affected platforms:**
 Windows 10
 Android 8

**Steps to reproduce:**

1. Navigate to [https://accounts.stage.mozaws.net/](https://accounts.stage.mozaws.net/) and log in using an existing account.
1. Click on the ‘Add’/ ‘Change’ button in the Picture section and observe the title of the page.

**Actual result:**
 The second word of the page’s title is written w

[2021-03-22 14:31] data-sync-user commented on #7784
➤ Barry Chen commented:

[~jecook@mozilla.com] I've attached a couple of screenshots to demo the emails as they are in my development environment.  (Ignore the right and bottom black borders of the images; not sure why Jira added those.)  The copy is similar to the expiring credit card email.  Please let m know if you want any changes.

[2021-03-22 16:14] vbudhram commented on #7919
Tested locally and looks like these are all fixed in current train.

[2021-03-22 17:03] vbudhram opened #7922 "Storybook has couple broken tests"
Noticed this locally on main too, there are a couple failing tests in storybook.

Ref: https://app.circleci.com/pipelines/github/mozilla/fxa/17485/workflows/0dc936ca-26ad-4541-91a4-12b0ccb02c43/jobs/225974

┆Issue is synchronized with this [Jira Task](https://jira.mozilla.com/browse/FXA-3232)
┆Issue Number: FXA-3232

[2021-03-22 17:06] lmorchard commented on #7922
Hmm, one possibly relevant bit of context: After reviewing some permissions for the Storybook publisher users on Friday, we noticed that the user on FxA was a contributor with read/write access to the repo. Switched that to just "Read", assuming that the commit status API didn't require Write access to repo commits.

[2021-03-22 17:07] lmorchard commented on #7922
I just now switched that contributor role for FxaStorybooks back to Write. Maybe that'll fix it and we need to leave it with Write access?

[2021-03-22 17:11] vbudhram commented on #7922
Thanks @lmorchard, let me restart the tests and see if that fixes it 🤞🏽.

[2021-03-22 17:14] #6918 closed

[2021-03-22 17:25] vbudhram commented on #7922
Yup looks like that was the fix! https://app.circleci.com/pipelines/github/mozilla/fxa/17485/workflows/263b9c81-f8c5-4de0-9d3e-f788370ebb09/jobs/226017

[2021-03-22 17:25] #7922 closed

[2021-03-22 18:40] #7893 closed

[2021-03-22 18:40] data-sync-user commented on #7893
➤ Marco Mucci commented:

PayPal Issue.

[2021-03-22 18:45] #7901 closed

[2021-03-22 18:45] data-sync-user commented on #7901
➤ Marco Mucci commented:

PayPal Issue.

[2021-03-22 19:06] data-sync-user commented on #7783
➤ Barry Chen commented:

NOTE  that the task for the actual update is FXA-3199.  This is for updating the docs only.

[2021-03-23 08:41] data-sync-user opened #7931 "[FxA-Settings] Eye icon format is not consistent in the application"
**Build:**
 Stage [Train 1.202.3]

**Affected platforms:**
 Windows 10
 Android 8

**Steps to reproduce:**

1. Navigate to [https://accounts.stage.mozaws.net/](https://accounts.stage.mozaws.net/beta/settings/) and create a new account.
1. At the ‘Create a Firefox Account Continue to Account Settings’ page, type in a password.
1. Observe the eye icon and compare it with the one from the ‘Change pas

[2021-03-23 09:22] data-sync-user opened #7932 "Credit card option shown when user tries to change payment option after paying with paypal"
**Build**

* Stage [Train 1.202.2"]

**Affected platforms**

* Windows 10 x64

**Steps to reproduce**
 1. Create a new subscription with paypal (use this product: [https://accounts.stage.mozaws.net/subscriptions/products/prod_IyCWnXUbkYjDgL?plan=price_1IMG7KKb9q6OnNsL15Hsn1HE](https://accounts.stage.mozaws.net/subscriptions/products/prod_IyCWnXUbkYjDgL?plan=price_1IMG7KKb9q6OnNsL15Hsn1HE))
 2. Go

[2021-03-23 09:26] data-sync-user opened #7933 "User is not able to subscribe to a second product"
**Build**

* Stage [Train 1.202.2"]

**Affected platforms**

* Windows 10 x64

**Steps to reproduce**
 1. Create a new subscription with paypal (use this product: [https://accounts.stage.mozaws.net/subscriptions/products/prod_IyCWnXUbkYjDgL?plan=price_1IMG7KKb9q6OnNsL15Hsn1HE](https://accounts.stage.mozaws.net/subscriptions/products/prod_IyCWnXUbkYjDgL?plan=price_1IMG7KKb9q6OnNsL15Hsn1HE))

2. Ope

[2021-03-23 11:46] data-sync-user opened #7934 "Subscription error page for an incorrect card has layout issues on mobile devices"
**Affected versions:**

* All Firefox;
* Chrome;

**Affected FxA versions:**

* 1.202.3;

**Affected Platforms:**

* Android 10;

**Prerequisites:**

* Have an FxA account without subscription;

**Steps to reproduce:**

1. Load [https://stage-vpn.guardian.nonprod.cloudops.mozgcp.net/](https://stage-vpn.guardian.nonprod.cloudops.mozgcp.net/) page;
1. Click the “Try Mozilla VPN” button;
1. Fill all

[2021-03-23 13:03] data-sync-user opened #7935 "“Account page” link from support request confirmation email redirects to the wrong page"
**Affected versions:**

* All Firefox;

**Affected FxA versions:**

* 1.202.3;

**Affected Platforms:**

* Android 10;

**Prerequisites:**

* Have an FxA account with subscription;
* Have a support request for Mozilla VPN;

**Steps to reproduce:**

1. Open the support request confirmation email;
1. Go to footer and click the “account page” link;
1. Observe the opened page;

**Expected result:**

*

[2021-03-23 14:27] Yogita98 commented on #7758
We don't have to explicitly change any of the strings here right? So, a function to convert all the strings to title case would work @janiceahn?

[2021-03-23 15:17] janiceahn commented on #7758
@Yogita98 Yes, that would work. Thank you!

[2021-03-23 15:39] data-sync-user commented on #7784
➤ Barry Chen commented:

[~byee@mozilla.com] Are you the person to ping for the content of these emails?

[2021-03-23 16:27] clouserw opened #7937 "WError: Unspecified error"
https://sentry.prod.mozaws.net/operations/fxa-auth-prod/issues/9589488/?referrer=github_plugin

[code]

┆Issue is synchronized with this [Jira Task](https://jira.mozilla.com/browse/FXA-3243)
┆Issue Number: FXA-3243

[2021-03-23 16:27] jaredhirsch opened #7938 "Localize BentoMenu component"
Split off from #7847.

┆Issue is synchronized with this [Jira Task](https://jira.mozilla.com/browse/FXA-3242)
┆Issue Number: FXA-3242

[2021-03-23 16:27] jaredhirsch opened #7939 "Localize DropDownAvatarMenu component"
Split off from #7847.

┆Issue is synchronized with this [Jira Task](https://jira.mozilla.com/browse/FXA-3241)
┆Issue Number: FXA-3241

[2021-03-23 16:28] jaredhirsch opened #7940 "Localize ModalVerifySession component"
Split off from #7847.

┆Issue is synchronized with this [Jira Task](https://jira.mozilla.com/browse/FXA-3240)
┆Issue Number: FXA-3240

[2021-03-23 17:38] #7850 closed

[2021-03-23 17:51] #7792 closed

[2021-03-23 17:55] data-sync-user opened #7941 "Fetching open invoices should ensure the subscription is current"
Subscriptions can be cancelled yet have invoices remain open. We should ensure we don't fetch and try to pay these with our paypal code.

┆Issue is synchronized with this [Jira Bug](https://jira.mozilla.com/browse/FXA-3244)
┆Issue Number: FXA-3244

[2021-03-23 18:33] #7262 closed

[2021-03-23 18:40] #7555 closed

[2021-03-23 18:40] #7705 closed

[2021-03-23 19:20] #7836 closed

[2021-03-23 19:20] data-sync-user commented on #7836
➤ Jared Hirsch commented:

This is actually done.

[2021-03-23 19:25] 6a68 commented on #7835
This one was also closed by #7776

[2021-03-23 19:25] #7835 closed

[2021-03-23 19:28] #7834 closed

[2021-03-23 19:28] data-sync-user commented on #7834
➤ Jared Hirsch commented:

Vijay fixed this in #7849.

[2021-03-23 21:29] data-sync-user opened #7943 "[subplat] Block Subscriptions when Product/Plan is Not Correctly Configured"
Some of SubPlat's content and logic is driven by a Stripe product's metadata.  Even with correct and up-to-date documentation, it remains a completely manual process.  To prevent bugs or incorrect content caused by product metadata, we should

1. Perform validation against the metadata on the subscription creation page
  * Ensure all required metadata are presented
  * Perform basic validation on

[2021-03-24 00:03] data-sync-user opened #7945 "[subplat] Add loading screen and error/success messaging for PayPal billing agreement error"
FXA-2806 added some functionality to handle a couple of PayPal-specific error states. While we can largely reuse the `PaypalButton` component from Checkout, after talking with Ben and Jess a bit, it sounds like we don't want to reuse the Checkout processing/success screens (see [notes from today's Design Check-in](https://docs.google.com/document/d/1r-tDrOrpdhNupHrue6JMtUvPs6xuP8fFKy8hBxPDTVo/edit

[2021-03-24 16:00] data-sync-user commented on #7784
➤ Bianca Danforth commented:

Should we be more specific than "as soon as possible"? Is our grace period here also 24 hours? If we cancel the subscription in the same way here as for funding source issues, I would recommend being as explicit as possible. We are evaluating error-related cancellations in FXA-3239 (though IIUC, an invalid BA would be due to the user cancelling the payments in PayPal

[2021-03-24 16:46] data-sync-user commented on #7799
➤ Jon Buckley commented:

PR for pinging @fxa-engineering and sending the build url to Slack: https://github.com/mozilla-services/cloudops-deployment/pull/4231

[2021-03-24 17:55] data-sync-user commented on #7784
➤ Barry Chen commented:

This email is triggered by a Paypal IPN, so it's not necessarily invoicing related.  (Sorry I don't know all the ways that a billing agreement could end up in that state.)  We do send a failed invoice email, and that's where the grace period is mentioned.

[2021-03-24 18:10] data-sync-user commented on #7932
➤ Marco Mucci commented:

Covered by FX-2806

[2021-03-24 18:11] #7932 closed

[2021-03-24 18:11] data-sync-user commented on #7932
➤ Marco Mucci commented:

See comment.

[2021-03-24 19:04] #7933 closed

[2021-03-24 19:04] data-sync-user commented on #7933
➤ Barry Chen commented:

There two things going on here.  One is that we are not allowing additional subscriptions at this point.  Two is what the user sees when they try.  We added an error message for the scenario, but it was not in Train 202.  I've attached an image of what it will look like in Train 203.

[2021-03-24 19:04] data-sync-user commented on #7933
➤ Barry Chen commented:

Not a bug.  Incorrect page is stage only (Paypal isn't enabled prod yet) and fixed but not yet deployed.

[2021-03-24 19:16] #7931 closed

[2021-03-24 19:19] data-sync-user commented on #7931
➤ Vijay Budhram commented:

Updated the points for this because it wasn't as easy as replacing the svg. Had to make the hover, focus and pressed states matched.

[2021-03-24 19:55] #7793 closed

[2021-03-24 20:07] data-sync-user commented on #7816
➤ Danny Coates commented:

It's unlikely that we'll be able to use "context-fill" because the svg isn't loaded from a chrome:// url. https://bugzilla.mozilla.org/show_bug.cgi?id=1377302

[2021-03-24 20:18] #7941 closed

[2021-03-24 20:33] #7810 closed

[2021-03-24 20:39] data-sync-user commented on #7945
➤ Bianca Danforth commented:

[~jecook@mozilla.com] while it's not ideal, in the interest of time, we may want to go with an option that requires as little change as possible to the way the front-end currently works right now. For example:

  1. Click the PayPal button
  2. Go through the reauthorization flow in the PayPal window
  3. Grey loading screen with the circular loading gif in the middle

[2021-03-24 22:06] #7874 closed

[2021-03-24 22:39] data-sync-user commented on #7816
➤ Danny Coates commented:

Firefox will add us to the allow list https://bugzilla.mozilla.org/show_bug.cgi?id=1699892#c1 ( https://bugzilla.mozilla.org/show_bug.cgi?id=1699892#c1 )

We need to let them know which domain to add.

[2021-03-24 23:41] data-sync-user commented on #7784
➤ Brian Yee commented:

The email is a combo of two of the emails on [~jecook@mozilla.com] 's reference transactional emails board (Credit Card about to expire and payment failed).  I combined the text here. ( https://docs.google.com/document/d/1swL6IJgaLuAoosV-QOAStPo_KZow1e9Wi4IwgSGkWAM/edit?usp=sharing )

[2021-03-25 11:51] data-sync-user commented on #5672
➤ Vasilica Tamas commented:

This issue can be closed because it is no longer applicable, considering the New Settings page replacement.

[2021-03-25 11:51] #5672 closed

[2021-03-25 11:51] data-sync-user commented on #5672
➤ Vasilica Tamas commented:

This issue can be closed because it is no longer applicable, considering the New Settings page replacement.

[2021-03-25 11:54] #5661 closed

[2021-03-25 11:54] data-sync-user commented on #5661
➤ Vasilica Tamas commented:

This issue can be closed because it is no longer applicable, considering the New Settings page replacement.

[2021-03-25 11:56] #5629 closed

[2021-03-25 11:56] data-sync-user commented on #5629
➤ Vasilica Tamas commented:

This issue can be closed because it is no longer applicable, considering the New Settings page replacement.

[2021-03-25 13:22] data-sync-user commented on #7784
➤ Barry Chen commented:

[~byee@mozilla.com] Is the bold sentence the subject line or part of the email body?

[2021-03-25 15:35] data-sync-user commented on #7784
➤ Barry Chen commented:

{quote}[~byee@mozilla.com] Is the bold sentence the subject line or part of the email body?
{quote}
Answering my own question, that's part of the body.

[~byee@mozilla.com] What should the email subject line be?

[2021-03-25 16:26] jaredhirsch opened #7966 "Functional tests: add page slug to top-level testid in new-settings"
Each page in new-settings has a `data-testid=flow-container` inside a `div#root`. If we included the name of the page as a testid in either of these top-level container elements, it would be easier to work around missing testids lower in the page.

Maybe we could append the page slug to the flow-container testid, like we do for testids in the UnitRow component.

┆Issue is synchronized with this [J

[2021-03-25 17:23] data-sync-user opened #7967 "Update the legal doc pdfs"
The VPN policies have been updated in https://bugzilla.mozilla.org/show_bug.cgi?id=1694453 .  We should update our PDF copies.

┆Issue is synchronized with this [Jira Task](https://jira.mozilla.com/browse/FXA-3250)
┆Issue Number: FXA-3250

[2021-03-25 17:55] data-sync-user opened #7968 "Sample Paypal transaction for VPN > for data pipeline prep"
Is there any way that a Paypal sample transaction for VPN can be made so we can see the data that comes into Stripe?  It will let the data eng and science see where the data is going and build the tables out for it.

Context - our only VPN DS goes on paternity leave in April.  While we have the window we'd like to have data eng (relud + anthony) get the info on where/how the info is coming in - so

[2021-03-25 17:55] data-sync-user commented on #7968
➤ Shell Escalante commented:

Need a dev/staging from VPN team to do it.  Wennie and Brian directed us to possible [~bdanforth@mozilla.com] as someone to help from VPN team - based on her recent work.

[2021-03-25 18:01] data-sync-user opened #7969 "App store download images have mixed padding"
Refer to the attached image. The App Store image has a p-2 class, but the Play Store image doesn't. This creates different click areas and focus outlines, and also pushes the badges in from the right. I think the p-2 is just being used for spacing, so let's replace it with ml-2

┆Issue is synchronized with this [Jira Bug](https://jira.mozilla.com/browse/FXA-3251)
┆Attachments: <a href="https://jir

[2021-03-25 18:06] data-sync-user opened #7970 "Red buttons lose their border on focus"
Refer to attached video. When you click or tab into a red button it loses its border causing the content to shift. It should either keep it's border or even just make the border transparent instead of removing it.

┆Issue is synchronized with this [Jira Bug](https://jira.mozilla.com/browse/FXA-3252)
┆Attachments: <a href="https://jira.mozilla.com/secure/attachment/15597/Screen+Recording+2021-03-25

[2021-03-25 18:11] data-sync-user opened #7971 "Logo in emails can take like 20 seconds to load"
I've been looking over our emails today and I noticed that our brand logo can take a really long time to load. TBH, I didn't think it was going to load at all it took so long.

Once it pulled it down though, it seems to be cached and showing up instantly everywhere so it's hard to replicate a second time.

!image-2021-03-25-11-09-21-701.png!

┆Issue is synchronized with this [Jira Task](https://ji

[2021-03-25 18:22] data-sync-user opened #7973 "Registration email Pre-header is Useless"
A pre-header in an email is a great way to provide additional context. We don't seem to be doing that with our Registration emails where we just see the end of a URL:

!image-2021-03-25-11-13-49-170.png!

I'd like us to display something in the pre-header like "Copy/paste this code into your registration form"

┆Issue is synchronized with this [Jira Task](https://jira.mozilla.com/browse/FXA-3254)

[2021-03-25 18:27] data-sync-user opened #7974 "Update string in Registration email"
In our login email, we tell users:

"Is this you signing up?
If yes, use this verification code:"

It lacks a bit of context. Perhaps we move forward with something like:

"If yes, use this verification code in your registration form"

┆Issue is synchronized with this [Jira Task](https://jira.mozilla.com/browse/FXA-3255)
┆Issue Number: FXA-3255

[2021-03-25 18:32] data-sync-user opened #7975 "Where should a user go if they closed the confirmation code screen?"
In our registration email, we display something like:
!image-2021-03-25-11-26-34-520.png!

If the user closed the screen where they are supposed to enter this code then they have no means to use it? Where should they go? And can we put instructions at the bottom for users who mistakenly closed the window?

┆Issue is synchronized with this [Jira Task](https://jira.mozilla.com/browse/FXA-3256)
┆Atta

[2021-03-25 18:33] data-sync-user commented on #7816
➤ Danny Coates commented:

!Screen Shot 2021-03-25 at 11.28.08 AM.png!

The avatar in the native toolbar will use "context-fill" to follow the browser theme, but we need some design input on what the fallback color should be for in page and for relying parties. In this screenshot the fallback is #B2B2B4

[2021-03-25 18:59] data-sync-user opened #7976 "Functional test failures - sync_v3_settings.js (3 tests failing)"
┆Issue is synchronized with this [Jira Bug](https://jira.mozilla.com/browse/FXA-3272)
┆Issue Number: FXA-3272

[2021-03-25 18:59] data-sync-user opened #7977 "Functional test failures - reset_password.js"
┆Issue is synchronized with this [Jira Bug](https://jira.mozilla.com/browse/FXA-3271)
┆Issue Number: FXA-3271

[2021-03-25 18:59] data-sync-user opened #7978 "Functional test failures - fx_desktop_handshake.js (4 tests failing)"
┆Issue is synchronized with this [Jira Bug](https://jira.mozilla.com/browse/FXA-3270)
┆Issue Number: FXA-3270

[2021-03-25 18:59] data-sync-user opened #7979 "Functional test failures - avatar.js (7 tests failing)"
┆Issue is synchronized with this [Jira Bug](https://jira.mozilla.com/browse/FXA-3269)
┆Issue Number: FXA-3269

[2021-03-25 18:59] data-sync-user opened #7980 "Functional test failures - cookies_disabled.js"
┆Issue is synchronized with this [Jira Bug](https://jira.mozilla.com/browse/FXA-3268)
┆Issue Number: FXA-3268

[2021-03-25 18:59] data-sync-user opened #7981 "Functional test failures - oauth_webchannel.js"
┆Issue is synchronized with this [Jira Bug](https://jira.mozilla.com/browse/FXA-3267)
┆Issue Number: FXA-3267

[2021-03-25 18:59] data-sync-user opened #7982 "Functional test failures - sign_in_blocked.js"
┆Issue is synchronized with this [Jira Bug](https://jira.mozilla.com/browse/FXA-3266)
┆Issue Number: FXA-3266

[2021-03-25 18:59] data-sync-user opened #7983 "Functional test failures - oauth_permissions.js (3 tests failing)"
┆Issue is synchronized with this [Jira Bug](https://jira.mozilla.com/browse/FXA-3265)
┆Issue Number: FXA-3265

[2021-03-25 18:59] data-sync-user opened #7984 "Functional test failures - force_auth.js"
┆Issue is synchronized with this [Jira Bug](https://jira.mozilla.com/browse/FXA-3264)
┆Issue Number: FXA-3264

[2021-03-25 19:00] data-sync-user opened #7985 "Functional test failures"
┆Issue is synchronized with this [Jira Bug](https://jira.mozilla.com/browse/FXA-3263)
┆Issue Number: FXA-3263

[2021-03-25 19:00] data-sync-user opened #7986 "Functional test failures - oauth_sign_in"
┆Issue is synchronized with this [Jira Bug](https://jira.mozilla.com/browse/FXA-3262)
┆Issue Number: FXA-3262

[2021-03-25 19:00] data-sync-user opened #7987 "Functional test failures - confirm.js"
┆Issue is synchronized with this [Jira Bug](https://jira.mozilla.com/browse/FXA-3261)
┆Issue Number: FXA-3261

[2021-03-25 19:00] data-sync-user opened #7988 "Functional test failures - sign_up.js (2 tests are failing)"
┆Issue is synchronized with this [Jira Bug](https://jira.mozilla.com/browse/FXA-3260)
┆Issue Number: FXA-3260

[2021-03-25 19:00] data-sync-user opened #7989 "Functional test failures - oauth_settings_clients.js"
┆Issue is synchronized with this [Jira Bug](https://jira.mozilla.com/browse/FXA-3259)
┆Issue Number: FXA-3259

[2021-03-25 19:00] data-sync-user opened #7990 "Functional test failures - email_opt_in.js"
┆Issue is synchronized with this [Jira Bug](https://jira.mozilla.com/browse/FXA-3258)
┆Issue Number: FXA-3258

[2021-03-25 19:00] data-sync-user opened #7991 "Functional test failures - Sign_up_with_code.js"
┆Issue is synchronized with this [Jira Bug](https://jira.mozilla.com/browse/FXA-3257)
┆Issue Number: FXA-3257

[2021-03-25 19:10] data-sync-user commented on #7903
➤ Dave Justice commented:

We have an issue to update the location and style of notifications planned for the follow up to this epic, https://jira.mozilla.com/browse/FXA-3229

[2021-03-25 19:15] data-sync-user commented on #4005
➤ Jody Heavener commented:

Made irrelevant due to Settings refresh.

[2021-03-25 19:21] data-sync-user commented on #4005
➤ Jody Heavener commented:

Needs verification to ensure this isn't fixed with Settings refresh.

[2021-03-25 19:21] #4054 closed

[2021-03-25 19:21] data-sync-user commented on #4054
➤ Jody Heavener commented:

No longer an issue due to Settings refresh.

[2021-03-25 19:21] #4029 closed

[2021-03-25 19:21] data-sync-user commented on #4029
➤ Jody Heavener commented:

No longer an issue due to Settings refresh.

[2021-03-25 19:21] #4027 closed

[2021-03-25 19:21] data-sync-user commented on #4027
➤ Jody Heavener commented:

No longer an issue due to Settings refresh.

[2021-03-25 19:26] #4101 closed

[2021-03-25 19:26] data-sync-user commented on #4101
➤ Jody Heavener commented:

Already fixed.

[2021-03-25 19:26] #4053 closed

[2021-03-25 19:26] data-sync-user commented on #4053
➤ Jody Heavener commented:

No longer an issue due to Settings refresh.

[2021-03-25 19:27] jodyheavener commented on #4102
Thanks for filing this issue. As it's been more than a year without an update I'm going to close. If this continues to be an issue please re-open. You can reach us in Matrix under [#fxa](https://chat.mozilla.org/#/room/#fxa:mozilla.org)

[2021-03-25 19:27] #4102 closed

[2021-03-25 19:31] data-sync-user commented on #4104
➤ Jody Heavener commented:

Possibly related to FXA-1003

[2021-03-25 19:36] data-sync-user commented on #4185
➤ Jody Heavener commented:

[~dcoates@mozilla.com]we're evaluating if this is still valid and wondering how to look at user session counts.

[2021-03-25 19:36] data-sync-user commented on #4177
➤ Jody Heavener commented:

This issue is technically valid and could be done, but when we refresh the login flow this will be taken care of then assuming we use the same CSS approach (i.e. Tailwind) in that refresh. Leaving open for now.

[2021-03-25 19:38] lmorchard opened #7992 "Storybook builds are broken"
## Description

Things like the fxa-settings Design Guide in Storybook are not building correctly.

Running `git bisect` until a good build seems to point to [this upgrade from 5.3.19 to 6.1.21](https://github.com/mozilla/fxa/commit/37522c5a6c6a35a79c1da953c8995a43e8e665b9) as the culprit.

### Expected result

Design Guide for fxa-settings should look something like this:

https://storage.googlea

[2021-03-25 19:38] lmorchard commented on #7992
Filing this to report the bug & capture what I found so far. I might spend some more time and fix it, but didn't want to lose the details.

[2021-03-25 19:42] #4255 closed

[2021-03-25 19:42] data-sync-user commented on #4255
➤ Jody Heavener commented:

Closed in Bugzilla.

[2021-03-25 19:47] #4314 closed

[2021-03-25 19:47] data-sync-user commented on #4314
➤ Jody Heavener commented:

This seems like a nice idea, but doesn't seem to likely to be on our roadmap in the immediate future.

[2021-03-25 19:47] #4256 closed

[2021-03-25 19:47] data-sync-user commented on #4256
➤ Jody Heavener commented:

Since it's been more than a year without an update I'm going to close. If this continues to be an issue please re-open.

[2021-03-25 19:47] data-sync-user commented on #4185
➤ Danny Coates commented:

afaik it's still valid. [~jbuckley@mozilla.com] might be able to give you some numbers with a sql query against the sessionTokens table.

[2021-03-25 19:52] #4329 closed

[2021-03-25 19:52] data-sync-user commented on #4329
➤ Jody Heavener commented:

AET is no longer on our roadmap.

[2021-03-25 19:52] #4326 closed

[2021-03-25 19:52] data-sync-user commented on #4326
➤ Jody Heavener commented:

AET is no longer on our roadmap.

[2021-03-25 19:54] #7904 closed

[2021-03-25 19:58] data-sync-user commented on #4401
➤ Jody Heavener commented:

[~djustice@mozilla.com] we're a little unsure about what this issue is. Is it still relevant or can it be closed?

[2021-03-25 19:58] #4363 closed

[2021-03-25 19:58] data-sync-user commented on #4363
➤ Jody Heavener commented:

Resolved in Bugzilla

[2021-03-25 20:03] data-sync-user commented on #4480
➤ Jody Heavener commented:

No longer an issue due to Settings refresh.

[2021-03-25 20:13] data-sync-user commented on #7945
➤ Jessica Cook commented:

[~bdanforth@mozilla.com] [~bchen@mozilla.com]  After reviewing this I think its this an ok UX/UI solution to move forward with the steps outline above.

[2021-03-25 20:40] #7647 closed

[2021-03-25 21:01] #7690 closed

[2021-03-25 21:50] lmorchard opened #7995 "Upgrade to Storybook v6"
A [straight major version upgrade of Storybook v5 to v6](https://github.com/mozilla/fxa/commit/37522c5a6c6a35a79c1da953c8995a43e8e665b9) breaks the storybook build - albeit in a quiet way that doesn't fail CI.

There is [a migration guide](https://storybook.js.org/blog/storybook-6-migration-guide/) for upgrading from v5 to v6. But, there is [a lot of custom tinkering going on in our shared Storybo

[2021-03-25 21:51] lmorchard commented on #7992
Banged my head on this for an hour or so, didn't come up with a quick fix other than a downgrade to v5 in PR #7994. I think there will be a bit of work to get the custom configs up to speed with the major version upgrade. Filed issue #7995 for that.

[2021-03-25 23:18] #4373 closed

[2021-03-25 23:18] data-sync-user commented on #4373
➤ Danny Coates commented:

Closing as done

[2021-03-26 00:49] data-sync-user commented on #7784
➤ Brian Yee commented:

Subj:  Payment information update required for Mozilla VPN

[2021-03-26 08:23] suyashchauhan commented on #7735
I think it is something  browser specific check this
 https://bugzilla.mozilla.org/show_bug.cgi?id=1247609
  https://github.com/mozilla-mobile/fenix/issues/13214
looks like firefox-android doesn't have support for window.print

[2021-03-26 10:21] rukshan99 commented on #7974
Can I work on this?

[2021-03-26 12:02] data-sync-user commented on #4480
➤ Vasilica Tamas commented:

This issue is not only about the Settings page, it also includes the Sign in page where appears the "You've tried too many times. Try again in 15 minutes." message and it looks like is not translated at all in the Chinese (zh-cn) language, or partially translated in es, fr, de.

[2021-03-26 13:54] data-sync-user commented on #7991
➤ Ankita Shrivastava commented:

The failing test file is : signupwith_code.js

The test name is: valid code then click back

[2021-03-26 13:59] data-sync-user commented on #7990
➤ Ankita Shrivastava commented:

The failing test is : emailoptin.js

and the test name is : manage link

[2021-03-26 13:59] data-sync-user commented on #7988
➤ Ankita Shrivastava commented:

The failing test file is: sign_up.js

and test name is: signup, verify and sign out of two accounts, all in the same tab, then sign in to the first account

[2021-03-26 13:59] data-sync-user commented on #7989
➤ Ankita Shrivastava commented:

The failing test file is : oauthsettingsclients.js

and test name is : rp listed in apps, can be deleted

[2021-03-26 14:04] data-sync-user commented on #7986
➤ Ankita Shrivastava commented:

The failing test file is: oauthsignin

and test name is: can remove TOTP from account and skip confirmation

[2021-03-26 14:05] data-sync-user commented on #7987
➤ Ankita Shrivastava commented:

The failing test file is : confirm.js

and test name is: sign up, wait for confirmation screen, click resend

[2021-03-26 14:10] data-sync-user commented on #7985
➤ Ankita Shrivastava commented:

The failing test file is: sign_in.js

and test name is : login as an existing user

[2021-03-26 14:10] data-sync-user commented on #7983
➤ Ankita Shrivastava commented:

The failing test file is : oauth_permissions.js

and tests are:

  1. signin with new permission available b/c of new account information
  2. signin with additional requested permission - oauth permissions for untrusted reliers
  3. signin after deselecting a requested permission  oauth permissions for untrusted reliers

[2021-03-26 14:10] data-sync-user commented on #7984
➤ Ankita Shrivastava commented:

The failing test file is : force_auth.js

and test name is: form prefill information is cleared after sign in->sign out

[2021-03-26 14:10] data-sync-user commented on #4480
➤ Jody Heavener commented:

Apologies, thanks for re-opening!

[2021-03-26 14:15] data-sync-user commented on #7982
➤ Ankita Shrivastava commented:

The failing test file is: signinblocked.js

and test is: with primary email changed

[2021-03-26 14:15] data-sync-user commented on #7980
➤ Ankita Shrivastava commented:

The failing test file is: cookies_disabled.js

and test is: visit signup page with localStorage disabled

[2021-03-26 14:15] data-sync-user commented on #7981
➤ Ankita Shrivastava commented:

The failing test file is : oauth_webchannel.js

and test is: settings

[2021-03-26 14:20] data-sync-user commented on #7979
➤ Ankita Shrivastava commented:

The failing test file is : avatar.js

and tests are:

  1. ***go to settings then avatar change*
  2. keyboard focus changes to the modal
  3. go to settings with an email selected to see change link then click on avatar to change
  4. attempt to use webcam for avatar
  5. attempt to use webcam for avatar, then cancel
  6. upload a profile image
  7. cancel uploadi

[2021-03-26 14:20] data-sync-user commented on #7978
➤ Ankita Shrivastava commented:

the failing test file is: fxdesktophandshake.js

and tests are:

  1. Sync settings page - user signed into browser**
  2. NonSync settings page  user signed into browser
  3. Sync settings page - no user signed into browser
  4. NonSync settings page  no user signed into browser, no user signed in locally

[2021-03-26 14:25] data-sync-user opened #8003 "Functional test failures - fx_fennec_v1_settings.js (3 tests failing)"
┆Issue is synchronized with this [Jira Bug](https://jira.mozilla.com/browse/FXA-3275)
┆Issue Number: FXA-3275

[2021-03-26 14:26] data-sync-user commented on #7977
➤ Ankita Shrivastava commented:

The failing test file is : reset_password.js

and test is: reset password, verify same browser

[2021-03-26 14:31] data-sync-user commented on #8003
➤ Ankita Shrivastava commented:

The failing test file is: fxfennecv1_settings.js

and tests are: **

  1. sign in, change the password
  2. sign in, change the password by browsing directly to settings
  3. sign in, delete the account

[2021-03-26 14:52] data-sync-user commented on #7903
➤ Barry Chen commented:

Note that this was not a bug; the style has been that way.  I'll make a change to have the alert bar width match the content.  However, given the placement and z index of the alert bar, when the window is narrow enough, it'd still overlap the FxA heading.

[2021-03-26 15:52] data-sync-user commented on #7784
➤ Barry Chen commented:

{quote}Subj: Payment information update required for Mozilla VPN
{quote}

[~byee@mozilla.com]  Thanks!  What should the subject be when the customer has multiple subscriptions?

[2021-03-26 16:27] lmorchard commented on #7992
https://github.com/mozilla/fxa/pull/8005

[2021-03-26 16:27] #7992 closed

[2021-03-26 16:40] data-sync-user commented on #7784
➤ Brian Yee commented:

I am assuming we only send them one email in that case, and they only need to do one fix?

Subj:   Payment information update required for Mozilla subscriptions

[2021-03-26 16:54] vbudhram opened #8007 "Localize Recovery key section in new settings"
Broken out from https://github.com/mozilla/fxa/issues/7847

┆Issue is synchronized with this [Jira Task](https://jira.mozilla.com/browse/FXA-3276)
┆Issue Number: FXA-3276

[2021-03-26 17:27] data-sync-user commented on #7784
➤ Barry Chen commented:

{quote}I am assuming we only send them one email in that case, and they only need to do one fix?
{quote}

Yes.  Sorry I didn't make that clear.

[2021-03-26 17:44] Yogita98 commented on #7758
Hey @janiceahn recently I pulled in new changes from `main` and the issue seems to have been fixed already. Can you please confirm the same?

[2021-03-26 18:57] LZoog commented on #7974
@rukshan99 I was about to say yes, but I see you have a PR up for this! Thank you.

[2021-03-26 19:03] LZoog commented on #7973
Here is the attached image:
![image](https://user-images.githubusercontent.com/13018240/112680610-96412b00-8e3b-11eb-998d-5373a66e7106.png)

The link in the pre-header is probably coming from the Firefox logo. We likely want to include the suggested text as the first paragraph of the email and hide it with CSS, but there may be some caveats around that. It's probably worth searching around for the

[2021-03-26 19:07] LZoog commented on #7971
Here's the attached image:

![image](https://user-images.githubusercontent.com/13018240/112681083-3303c880-8e3c-11eb-8a35-0eb946375e32.png)

A tip on getting started for a contributor - let's check that the image is loaded similarly and from the same place as our other email images. Let's also check that the image isn't unusually large, maybe it just needs to be minified?

[2021-03-26 19:18] LZoog opened #8010 "Settings - Two step auth new recovery codes styling issues"
## Description

When I go to replace my recovery codes, there's a small green box before the codes are loaded and then the "Close" button sits behind the download/copy/print buttons.

### Steps to reproduce

Go to "Replace Recovery Codes".

![two-step-auth-codes](https://user-images.githubusercontent.com/13018240/112682766-93940500-8e3e-11eb-9f61-5cdeb9d924e9.gif)

### Expected result

The box sho

[2021-03-26 19:24] LZoog commented on #7766
The expected color is #5E5E72 but we should use whichever color is closest in the Tailwind config file.

This is occurring in the new FxA Settings page. If a contributor would like to pick this up, they can find this by clicking on "Create" under "Recovery key" on that page.

[2021-03-26 19:27] LZoog commented on #7762
Looks like this should be 48px of padding on either side:

<img width="605" alt="image" src="https://user-images.githubusercontent.com/13018240/112683283-4f553480-8e3f-11eb-97fb-932418286c31.png">

If a contributor would like to pick this up, they can find this modal on the Settings page. Be sure to use a Tailwind class.

[2021-03-26 19:28] LZoog commented on #7761
This was closed in #7914

[2021-03-26 19:28] #7761 closed

[2021-03-26 19:29] LZoog commented on #7760
@kshru9 Feel free to grab this if you'd still like to work on it! :)

This footer can be found on the Settings page.

[2021-03-26 19:29] jodyheavener opened #8011 "Update copy in passwordChangeRequired email template"
## Description

There are a couple areas we can improve the copy in [passwordChangeRequired](https://github.com/mozilla/fxa/blob/main/packages/fxa-auth-server/lib/senders/templates/passwordChangeRequired.html) email template.

1) Add a an header (h1, refer to other templates to see how it's done) titled "Password Change Required"
2) In the line that says, "Important: pick a different password", ca

[2021-03-26 19:36] LZoog commented on #7758
@Yogita98 I'm also seeing these as fixed. I will go ahead and close this issue - thank you for looking into this for us! :)

[2021-03-26 19:40] #3194 closed

[2021-03-26 19:40] data-sync-user commented on #3194
➤ Jared Hirsch commented:

We are moving away from Amplitude. Closing.

[2021-03-26 19:40] data-sync-user commented on #3194
➤ Jared Hirsch commented:

We are moving away from Amplitude. Closing.

[2021-03-26 19:43] jodyheavener opened #8012 "Change "Setup" to "Set up" in postVerify email template"
## Description

The `postVerify` email template has a CTA with the [text](https://github.com/mozilla/fxa/blob/main/packages/fxa-auth-server/lib/senders/email.js#L1296:L1296) "Setup", change it to "Set up"

Ensure this change is reflected in the [text](https://github.com/mozilla/fxa/blob/main/packages/fxa-auth-server/lib/senders/templates/postVerify.txt) version as well.

["Setup" is a noun, "set u

[2021-03-26 19:44] LZoog commented on #7757
The padding is 4px tall by 8px wide and the BG color is #F0F0F4. We should use whatever color is closest that's included in our Tailwind config file and use those generated classes for both the BG color and padding.

[2021-03-26 19:52] LZoog commented on #7758
Actually @Yogita98... I just realized I'm still seeing "Secondary Email" when I _don't_ have a secondary email:

<img width="389" alt="image" src="https://user-images.githubusercontent.com/13018240/112685178-339f5d80-8e42-11eb-954d-005af8905378.png">

We shouldn't need a function to fix this up for us though. I briefly looked into this and at a first glance I'm not sure why this is happening, in `

[2021-03-26 19:54] #3487 closed

[2021-03-26 19:54] data-sync-user commented on #3487
➤ Jared Hirsch commented:

The underlying BMO bug was wontfix'd last year.

[2021-03-26 19:57] #3476 closed

[2021-03-26 19:57] data-sync-user commented on #3476
➤ Jared Hirsch commented:

The new settings page has a link to resend a verification email, which takes you to the verification input form. Feels fair to wontfix this bug.

[2021-03-26 19:58] LZoog commented on #7724
If a contributor would like to pick this up, they can find this by running FxA locally and navigating to `beta/settings` (it doesn't have to be on staging). This should remain a button since that's semantically correct, but the fix is to remove the left/right padding.

[2021-03-26 19:58] jodyheavener opened #8013 "Update email timestamps to place time below date"
## Description

In many of our emails we include a block of information including a date and time:

![Screen Shot 2021-03-26 at 3 31 44 PM](https://user-images.githubusercontent.com/6392049/112685569-289cfb00-8e4b-11eb-8035-5a9bbd72e26e.png)

Let's move the time to it's own line, after the date line.

This will require modifying the `location` template [partial](https://github.com/mozilla/fxa/blob

[2021-03-26 20:07] LZoog commented on #7028
Hey @saurabh-jaiswal-333 @Cronus1007 @hitesh-coder @patil2097, sorry for not getting back to you!

This issue was resolved in another pull request so I'm going to close it. There is a related issue, #8010, but it's a little more involved than a quick CSS tweak. Please feel free to look at our other `good first issue`s too. Thanks! :)

[2021-03-26 20:09] #3186 closed

[2021-03-26 20:09] data-sync-user commented on #3186
➤ Jared Hirsch commented:

We're ok to do nothing here, and leave 2FA enabled if we run out of recovery codes.

[2021-03-26 20:10] LZoog commented on #7013
@chinmaym07 @shades-7 Apologies for such a late response! I just double checked and this is still a valid issue:

<img width="273" alt="image" src="https://user-images.githubusercontent.com/13018240/112687257-3baccc80-8e45-11eb-976d-6cf87d519c40.png">

Please feel free to work on it and open a PR if one of you is still interested. You can find this screen by running FxA locally, navigating to `bet

[2021-03-26 20:10] #3190 closed

[2021-03-26 20:10] data-sync-user commented on #3190
➤ Jared Hirsch commented:

Assuming this user got their account sorted in the year since this was last touched

[2021-03-26 20:15] #3229 closed

[2021-03-26 20:15] data-sync-user commented on #3229
➤ Jared Hirsch commented:

We have recovery codes to help with the case where a user loses their 2FA device.

Maybe we can address this when we implement webauthn, closing for now.

[2021-03-26 20:16] #3223 closed

[2021-03-26 20:16] data-sync-user commented on #3223
➤ Barry Chen commented:

SubHub is no longer a thing so this no longer applies.

[2021-03-26 20:17] LZoog commented on #7012
@chinmaym07 @anandsoni143 sorry for the late response! This issue is still valid, if either of you are still interested on working on it please feel free to put in a PR.

You can reproduce this by running FxA locally and navigating to `beta/settings` (see the `packages/fxa-settings` README for more info). To see the footer issue, reduce the screen size to mobile. To see the "Change password" issue

[2021-03-26 20:18] #3234 closed

[2021-03-26 20:18] data-sync-user commented on #3234
➤ Jared Hirsch commented:

Wontfixing, but if we notice this next time we're in the crypto code, we can clean it up.

[2021-03-26 20:19] data-sync-user commented on #3232
➤ Vijay Budhram commented:

Unassigned myself but these metrics are not populated for signin confirmation codes.

[2021-03-26 20:21] LZoog commented on #7007
@shades-7 Sorry for the late response! I double checked and this is still a valid issue. You can get a PR up for it if you're still interested!

This can be looked at by running FxA locally and navigating to `beta/settings`, it doesn't have to be on staging. Hitting tab a few times should get ya there.

[2021-03-26 20:21] data-sync-user commented on #3254
➤ Jared Hirsch commented:

We're not sure what to show the user instead of the generic error page here.

[2021-03-26 20:22] #3253 closed

[2021-03-26 20:22] data-sync-user commented on #3253
➤ Jared Hirsch commented:

We've lost the sentry history that included this error. Closing

[2021-03-26 20:22] #3259 closed

[2021-03-26 20:22] #3255 closed

[2021-03-26 20:22] data-sync-user commented on #3255
➤ Jared Hirsch commented:

This is a bug in old-settings. Closing

[2021-03-26 20:24] #3261 closed

[2021-03-26 20:24] data-sync-user commented on #3261
➤ Jared Hirsch commented:

Fennec is gone, and Amplitude is on the way out. Closing. Let's reopen if it's still occurring.

[2021-03-26 20:24] jodyheavener commented on #7969
Dupe of #7005

[2021-03-26 20:24] #7969 closed

[2021-03-26 20:24] jodyheavener commented on #7005
Some more context: The App Store image has a p-2 class, but the Play Store image doesn't. This creates different click areas and focus outlines, and also pushes the badges in from the right. I think the p-2 is just being used for spacing, so let's replace it with ml-2

[2021-03-26 20:25] #3264 closed

[2021-03-26 20:25] data-sync-user commented on #3264
➤ Jared Hirsch commented:

Thanks for filing. Self-hosters can route the logs to /dev/null if that's what they'd like to do. Closing.

[2021-03-26 20:27] data-sync-user commented on #3283
➤ Jared Hirsch commented:

[~vtamas@mozilla.com]Is this bug still reproducible on the current Firefox for iOS?

[2021-03-26 20:28] LZoog commented on #5895
@Cronus1007 are you still interested in working on this? You can maybe check out the related issue #5894 and corresponding PR, #5981 🙂

[2021-03-26 20:28] #3305 closed

[2021-03-26 20:29] data-sync-user commented on #3305
➤ Jared Hirsch commented:

This is working OK, wontfixing.

[2021-03-26 20:29] #3308 closed

[2021-03-26 20:29] data-sync-user commented on #3308
➤ Jared Hirsch commented:

fxa-private is not referenced by the script any longer, closing

[2021-03-26 20:30] #3318 closed

[2021-03-26 20:30] data-sync-user commented on #3318
➤ Jared Hirsch commented:

Underlying BMO bug is fixed. Closing

[2021-03-26 20:31] data-sync-user commented on #3336
➤ Jared Hirsch commented:

[~lzugai@mozilla.com]Do you know if we've addressed this?

[2021-03-26 20:31] #3338 closed

[2021-03-26 20:31] data-sync-user commented on #3338
➤ Jared Hirsch commented:

No longer needed. Closing

[2021-03-26 20:31] data-sync-user commented on #3337
➤ Jared Hirsch commented:

We're sunsetting amplitude, don't need the tests. Closing

[2021-03-26 20:31] #3337 closed

[2021-03-26 20:33] data-sync-user commented on #3340
➤ Jared Hirsch commented:

[~vbudhram@mozilla.com]

[2021-03-26 20:33] data-sync-user commented on #3342
➤ Jared Hirsch commented:

[~bchen@mozilla.com]Have you worked on this issue recently, possibly?

[2021-03-26 20:35] jodyheavener commented on #7975
Since it's a modal I'm not sure if we have a direct link to this or if it pops up as a result of trying to perform an unverified action (like adding a secondary email). I agree we should link to it in the email with the code if possible.

[2021-03-26 20:37] #3358 closed

[2021-03-26 20:37] data-sync-user commented on #3358
➤ Jared Hirsch commented:

No longer needed, closing.

[2021-03-26 20:38] #3367 closed

[2021-03-26 20:41] #3380 closed

[2021-03-26 20:41] data-sync-user commented on #3380
➤ Jared Hirsch commented:

Thank you for filing this issue. This is not currently on our roadmap, and in an effort to focus our work, we are closing old issues that we are unlikely to be closed in the future. Thanks again.

[2021-03-26 20:42] data-sync-user commented on #3403
➤ Jared Hirsch commented:

[~bchen@mozilla.com]Do we still want to do this? Is this experiment still running?

[2021-03-26 20:44] data-sync-user commented on #3419
➤ Jared Hirsch commented:

[~djustice@mozilla.com]Do you think this is still worth keeping open?

[2021-03-26 20:45] #3424 closed

[2021-03-26 20:45] data-sync-user commented on #3424
➤ Jared Hirsch commented:

We've lost the sentry data associated with this bug.

[2021-03-26 20:46] #3432 closed

[2021-03-26 20:46] data-sync-user commented on #3432
➤ Jared Hirsch commented:

We should talk about this too, just not in a bug

[2021-03-26 20:46] #3430 closed

[2021-03-26 20:46] data-sync-user commented on #3430
➤ Jared Hirsch commented:

We're still talking about this, but not in this bug. Closing

[2021-03-26 20:47] #3435 closed

[2021-03-26 20:47] data-sync-user commented on #3435
➤ Jared Hirsch commented:

We probably won't touch this code until it breaks :shrug: so we're just going to close this placeholder

[2021-03-26 20:48] #3445 closed

[2021-03-26 20:48] data-sync-user commented on #3445
➤ Jared Hirsch commented:

No longer needed, phasing out amplitude

[2021-03-26 20:48] #3439 closed

[2021-03-26 20:48] data-sync-user commented on #3439
➤ Jared Hirsch commented:

Parent BMO bug wontfixed.

[2021-03-26 20:48] #3446 closed

[2021-03-26 20:48] data-sync-user commented on #3446
➤ Jared Hirsch commented:

Closing this for now

[2021-03-26 20:50] #3463 closed

[2021-03-26 20:50] data-sync-user commented on #3463
➤ Jared Hirsch commented:

Underlying bug was closed, closing.

[2021-03-26 20:52] #3472 closed

[2021-03-26 20:54] #3503 closed

[2021-03-26 20:54] data-sync-user commented on #3503
➤ Jared Hirsch commented:

Thank you for filing this issue. This is not currently on our roadmap, and in an effort to focus our work, we are closing old issues that we are unlikely to be closed in the future. Thanks again.

[2021-03-26 20:54] data-sync-user commented on #3491
➤ Jared Hirsch commented:

Thank you for filing this issue. This is not currently on our roadmap, and in an effort to focus our work, we are closing old issues that we are unlikely to be closed in the future. Thanks again.

[2021-03-26 20:54] #3491 closed

[2021-03-26 20:54] #3507 closed

[2021-03-26 20:54] data-sync-user commented on #3507
➤ Jared Hirsch commented:

Thank you for filing this issue. This is not currently on our roadmap, and in an effort to focus our work, we are closing old issues that we are unlikely to be closed in the future. Thanks again.

[2021-03-26 20:55] #3516 closed

[2021-03-26 20:55] data-sync-user commented on #3516
➤ Jared Hirsch commented:

This seems to have been fixed a while ago. We can reopen if it happens again

[2021-03-26 20:56] data-sync-user commented on #3522
➤ Jared Hirsch commented:

[~vtamas@mozilla.com]Could you see if this issue is still reproducible?

[2021-03-26 20:56] #3523 closed

[2021-03-26 20:56] data-sync-user commented on #3523
➤ Jared Hirsch commented:

confidential response lol

[2021-03-26 20:57] #3524 closed

[2021-03-26 20:57] data-sync-user commented on #3524
➤ Jared Hirsch commented:

No longer fixing fennec bugs

[2021-03-26 20:58] #3525 closed

[2021-03-26 20:58] data-sync-user commented on #3525
➤ Jared Hirsch commented:

Closing, the code is alphanumeric.

[2021-03-26 20:58] data-sync-user commented on #3526
➤ Jared Hirsch commented:

[~lorchard@mozilla.com]Is this worth keeping around?

[2021-03-26 21:00] #3539 closed

[2021-03-26 21:00] data-sync-user commented on #3539
➤ Jared Hirsch commented:

Thank you for filing this issue. This is not currently on our roadmap, and in an effort to focus our work, we are closing old issues that we are unlikely to be closed in the future. Thanks again.

[2021-03-26 21:01] #357 closed

[2021-03-26 21:01] data-sync-user commented on #357
➤ Jared Hirsch commented:

Thank you for filing this issue. This is not currently on our roadmap, and in an effort to focus our work, we are closing old issues that we are unlikely to be closed in the future. Thanks again.

[2021-03-26 21:04] dannycoates opened #8014 "Login with another account on fxios"
## Description

In the case where a device gets logged out remotely, you're seemingly unable to log back in with a different account.

https://user-images.githubusercontent.com/87619/112692074-93ded100-8e3b-11eb-82dc-d2756e71c4e2.mov

### Expected result

The 'Use a different account' link should be available

### Actual result

it isn't

### Environment

fxios settings menu

┆Issue is synchronize

[2021-03-26 21:25] lmorchard commented on #3526
Probably redundant with #5683, but it would be very nice if payments-server could drop Redux someday

[2021-03-26 21:53] #1445 closed

[2021-03-26 21:54] clouserw commented on #1411
We'll address this in bugzilla. Closing here.

[2021-03-26 21:54] #1411 closed

[2021-03-26 21:57] clouserw commented on #2583
this is tracked in bugzilla, not here

[2021-03-26 21:57] #2583 closed

[2021-03-26 21:57] clouserw commented on #2582
this is tracked in bugzilla, not here

[2021-03-26 21:57] clouserw commented on #2568
this is tracked in bugzilla, not here

[2021-03-26 21:57] #2568 closed

[2021-03-26 21:58] #2582 closed

[2021-03-26 21:59] #2063 closed

[2021-03-26 21:59] #1884 closed

[2021-03-26 21:59] #3643 closed

[2021-03-26 21:59] #3640 closed

[2021-03-26 21:59] #3145 closed

[2021-03-26 21:59] #2876 closed

[2021-03-26 21:59] #2688 closed

[2021-03-26 22:11] Cronus1007 commented on #5895
@LZoog Sure I will. Can you assign this issue to me?

[2021-03-26 22:48] #7784 closed

[2021-03-27 03:12] shades-7 commented on #7013
@LZoog i am interested

[2021-03-27 03:14] shades-7 commented on #7007
@LZoog i am on it

[2021-03-27 06:44] Yogita98 commented on #7758
@LZoog sure I'd like to give it a shot!

[2021-03-28 13:18] misterhsp opened #8016 "Problem with Release 1.203"
I needed a little help again. With release 1.203.2 FXA no longer works for me when I want to call the account settings. In Firefox you only see the following.

[code]
The following error appears in the browser console
[code]
Someone a tip what is not working there. Something he wants there after localhost:3000. I do not know what to do.

Thanks a lot...

[2021-03-28 17:27] Yogita98 commented on #7758
I pulled in new changes before giving it a shot and it took me a while to solve the errors after pulling in new changes. When I was finally able to start all the services, I observed that the issue had been fixed already. Can you confirm the same?

[2021-03-29 08:44] data-sync-user opened #8022 "[FxA-Settings] 'Connected Services' section is not in focus after clicking on 'Manage devices' button from pairing flow"
**Build**
Stage [Train 1.203.2]

**Affected platforms**
Windows 10
iOS 14.4
Android 9

**Steps to preproduce**

1. Login on desktop using an existing account.
1. Login on a device using the pairing method.
1. On the desktop side, on the "Device connected" screen displayed at the end of the pairing flow, click on the "Manage devices" button.

**Expected results**
The user is redirected to the 'Conn

[2021-03-29 08:56] data-sync-user commented on #7872
➤ Vasilica Tamas commented:

I can confirm that the New Settings page is successfully opened when clicking on "Manage devices" button on Stage [Train 1.203.2] under Windows 10, iOS 14.4 and Android 9, but the page is displayed from the top and it is not focusing the 'Connected Services' section - issue tracked separately in FXA-3283 ( https://jira.mozilla.com/browse/FXA-3283 )

[2021-03-29 10:18] data-sync-user opened #8023 "[FxA-Settings] 'Recovery code not found' error received for the second recovery code"
**Build**
Stage [Train 1.203.2]

**Affected platforms**
Windows 10

**Prerequisites:**
the user has the 2FA enabled and the recovery codes saved

**Steps to reproduce**

1. Launch Firefox and follow the login steps (enter valid email and password credentials)
1. Click on "Trouble entering code?" link.
1. Copy and paste the 10-digit code from the saved list and click on the "Verify" button.
1. Log

[2021-03-29 11:42] data-sync-user opened #8024 "[FxA-Settings] "Generate codes" button from email opens a blank Settings page"
**Build**
Stage [Train 1.203.2]

**Affected platforms**
Windows 10

**Prerequisites:**

* the user has the 2FA enabled and the recovery codes saved

**Steps to reproduce**

1. Launch Firefox and follow the login steps (enter valid email and password credentials)
1. Click on "Trouble entering code?" link.
1. Copy and paste the 10-digit code from the saved list and click on the "Verify" button.
1. L

[2021-03-29 12:09] data-sync-user opened #8025 "[FxA-Settings] Focus behavior for ‘Show/ Hide password’ eye is not consistent"
**Build:**
Stage (Train 1.203.2)

**Affected platforms:**
Windows 10

**Steps to reproduce:**

1. Navigate to https://accounts.stage.mozaws.net/ and log in using an existing account.
1. Go to the ‘Password’ section and click the ‘Change’ button.
1. Type in a password in one of the fields.
1. Unfocus the password field and then click on the eye icon’s focus area.
1. Observe the eye icon’s focus beh

[2021-03-29 12:18] data-sync-user opened #8026 "[FxA-Settings] "Add" and "Change" Picture buttons are not right aligned"
**Build**
Stage [Train 1.192.0]

**Affected platforms**
Windows 10 64-bit
Android 9
iOS 13.6

**Steps to reproduce**

1. Navigate to https://accounts.stage.mozaws.net/beta/settings/ and login using an existing account.
1. Observe how the "Add" and "Change" buttons from Picture section are aligned compared with the other buttons.

**Expected results**
All the buttons are right aligned.

**Actual Re

[2021-03-29 12:24] data-sync-user commented on #7553
➤ Vasilica Tamas commented:

This issue is verified as fixed on Stage [Train 1.203.2] under Windows 10 64-bit, iOS 14.4 and Android 9. I confirm that the zoom control bar is successfully displayed.

[2021-03-29 12:32] data-sync-user commented on #7703
➤ Vasilica Tamas commented:

This issue is verified as fixed on Stage [Train 1.203.2] under iOS 14.4. I confirm that the picture appears in the edit area in the same position in which it was made.

[2021-03-29 12:35] data-sync-user commented on #7705
➤ Vasilica Tamas commented:

This issue is verified on Stage [Train 1.203.2] under iOS 14.4. The picture captured with the camera is no longer displayed as black image.

[2021-03-29 14:20] data-sync-user opened #8027 "Subscription ”Thank your page” is loaded for an already subscribed VPN user"
**Affected versions:**

* All Firefox;

**Affected FxA versions:**

* 1.203.2;

**Affected Platforms:**

* Windows 10;

**Prerequisites:**

* Have an FxA account with subscription made for VPN;

**Steps to reproduce:**

1. Open VPN homepage https://www-dev.allizom.org/en-US/products/vpn/
1. Click on “Get Mozilla VPN” button;
1. Log in with an account that has a subscription for Mozilla VPN;

**Exp

[2021-03-29 14:33] chenba commented on #3403
The experiment is not running anymore.  I'll close this because the number of blocked sign-ups has been pretty low, and we didn't save the blocked domain names anywhere afaict.

[2021-03-29 14:33] #3403 closed

[2021-03-29 14:39] #3342 closed

[2021-03-29 14:39] data-sync-user commented on #3342
➤ Barry Chen commented:

I'm marking this as a duplicate of FXA-3225.  There's a PR currently open to update the width of that alert bar.  And the overall UX will be changing soon.

[2021-03-29 16:06] LZoog commented on #7606
@SaDevat Sorry for the late response! This will actually be a pretty big task and as the description states is likely going to be best in a few pull requests. Are you still interested in working on this?

[2021-03-29 16:07] LZoog commented on #1376
Closing this - we shouldn't use sass-lint anymore, and per #5933 and #5932, we're moving content-server and payment-server to Tailwind styles.

[2021-03-29 16:07] #1376 closed

[2021-03-29 16:10] LZoog commented on #885
The profile server also has its own list of errors and error codes. We also have errors sprinkled around `fxa-settings`.

It could be ideal to have a shared error list in `fxa-shared`. I'm going to take off the "good first issue" label because this will touch a lot of files and several packages, but @smishra2903, if you're still interested in taking a stab here, please feel free. Thank you! :)

[2021-03-29 16:12] data-sync-user commented on #8025
➤ Wil Clouser commented:

[~dcoates@mozilla.com] I think you just patched this?

[2021-03-29 16:12] LZoog commented on #1965
@kunalmohan are you still interested in working on this issue? There's a PR linked (#1841) that might help give you some context!

[2021-03-29 16:16] LZoog commented on #3554
@raghav4 if you're still interested in working on this, that does seem to be part of the issue but if you search the codebase for `VERIFIED` (case-sensitive) you'll find other references to this that will need to be removed too. Thanks!

[2021-03-29 16:17] LZoog commented on #3848
Closing this issue as we have a new settings page that makes this issue obsolete.

[2021-03-29 16:17] #3848 closed

[2021-03-29 16:19] LZoog commented on #5043
Thanks @vasilicatamas for verifying it's still a bug in new settings! Let's leave it open, the fix should solve this in new settings.

[2021-03-29 16:27] LZoog commented on #5165
I'm going to close this issue. We had an audit of the survey in July 2020 and filed related issues.

It looks like we've closed the related issues around a11y issues here, but #5839 is open. I think that might be a little hairy to get set up though and wouldn't call it a `good first issue`, we need some docs around surveys and I'm not sure if that issue is still valid. The FxA team is currently tr

[2021-03-29 16:27] #5165 closed

[2021-03-29 16:35] LZoog opened #8030 "Add documentation for technical setup for working with surveys"
## Description

We have these docs for surveys: https://mozilla.github.io/ecosystem-platform/docs/process/interruptive-surveys

However, if someone wants to work on surveys, it's not explicitly clear how to run and work with one locally without creating a new survey. Maybe we need an example survey that can be used for this purpose (or maybe we have one already)?

It would be ideal if a contributo

[2021-03-29 16:41] data-sync-user commented on #8025
➤ Danny Coates commented:

I haven't touched this

[2021-03-29 17:07] #7807 closed

[2021-03-29 17:07] data-sync-user commented on #7807
➤ Barry Chen commented:

I misunderstood how upgrades work when I filed this.  We do allow upgrades between Stripe products.

[2021-03-29 17:14] flozender commented on #8013
Hi, I'd love to take this up. May I?

[2021-03-29 17:44] #8007 closed

[2021-03-29 19:54] #7991 closed

[2021-03-29 19:55] jodyheavener commented on #8013
@flozender sure thing, it's all yours! You may want to check out how to set up [MailDev](https://github.com/mozilla/fxa#running-with-maildev) locally for testing, and the auth server's [`write-emails`](https://github.com/mozilla/fxa/blob/main/packages/fxa-auth-server/package.json#L27) command may also prove helpful for writing mail templates to disk.

[2021-03-29 20:24] data-sync-user opened #8031 "[subplat] Privacy Policy link in HTML transactional emails is missing"
While I was working on FXA-3114, I noticed that, while we include the product's terms of service link in both HTML and plain text emails, we don't include a link to the product's privacy policy in HTML emails. These links are to the localized PDF versions of the documents.

[~byee@mozilla.com] I wanted to surface this for your thoughts on how high a priority this bug is (e.g. from a legal perspect

[2021-03-29 20:51] #7984 closed

[2021-03-29 21:27] #7967 closed

[2021-03-29 21:41] data-sync-user commented on #7883
➤ Bianca Danforth commented:

We should probably add a property to indicate if there is an error state here, so we can associate any downstream events like `updateDefaultPaymentMethod_*`. FXA-2806 will make use of this event, but we only know success/failure for the invalid billing agreement error state for PayPal customers.

[2021-03-29 22:39] #7974 closed

[2021-03-29 22:42] #7980 closed

[2021-03-29 22:42] #7986 closed

[2021-03-30 01:22] jbuck opened #8038 "Geolocation in emails is wrong when making changes on new settings page"
See when I added a secondary email to my account

<img width="393" alt="Screen Shot 2021-03-29 at 9 20 00 PM" src="https://user-images.githubusercontent.com/578466/112919199-9e67c780-90d4-11eb-964f-9ab2b6d07087.png">

`34.222.241.233` is the IP address of the graphql server. Not sure how many other emails are affected by this bug

┆Issue is synchronized with this [Jira Task](https://jira.mozilla.c

[2021-03-30 02:01] jbuck commented on #8038
Another user filed this issue and mentioned that it affected recovery key and password emails as well: https://bugzilla.mozilla.org/show_bug.cgi?id=1700356

[2021-03-30 02:23] data-sync-user commented on #4185
➤ Jon Buckley commented:

Still valid, pulled the latest session token per account stats: https://docs.google.com/spreadsheets/d/1_-FI94AQAZtuFOavJyqi4jTPni-IMVYiPBGmPDuggxA/edit?usp=sharing ( https://docs.google.com/spreadsheets/d/1_-FI94AQAZtuFOavJyqi4jTPni-IMVYiPBGmPDuggxA/edit?usp=sharing ) (Mozilla-only)

[2021-03-30 03:06] shivanisinghnitp commented on #8012
Hello, I would love to  take this issue!

[2021-03-30 03:07] shivanisinghnitp commented on #8011
May I take this issue?

[2021-03-30 05:18] karinabk commented on #8011
Hi Jody! I would like to take it too ;)

[2021-03-30 06:16] data-sync-user commented on #6918
➤ Vasilica Tamas commented:

This issue was verified as fixed on Stage [Train 1.203.2] under Windows 10 64-bit, Android 9 and iOS 14.4. The avatar icon is successfully displayed in the Settings page header during the sign-out process.

[2021-03-30 07:21] data-sync-user commented on #7931
➤ Bianca Oltean commented:

I retested the issue on Stage [Train 1.203.2] under Windows 10 and Android 8 and I can confirm that the Eye icon format is similar in the application.

[2021-03-30 08:05] data-sync-user commented on #7555
➤ Vasilica Tamas commented:

This issue is verified as fixed on Stage [Train 1.203.2] under Windows 10, Android 9 and iOS 14.4. I confirm that the avatar picture is correctly centered in the frame.

[2021-03-30 09:41] data-sync-user opened #8045 "[FxA-Settings] Incorrect error displayed while trying to set an already activated recovery key on a different device"
**Build**
Stage [Train 1.203.2]

**Affected platforms**
Windows 10 64-bit
Android 9
iOS 13.6

**Steps to reproduce**

1. Navigate to https://accounts.stage.mozaws.net/beta/settings/ and login using an existing account.
1. Login using the same account on a different device and generate a recovery key.
1. On the first device, try to generate a recovery key without refreshing the section or the page.

[2021-03-30 12:11] flozender commented on #8013
I'm trying to set up the repo locally but I get thrown this error:
[code]
Here's the [./artifacts/start.log](https://paste.mozilla.org/CCDcRpzz/raw)

Can you please tell me if I'm missing something here?

[2021-03-30 12:15] data-sync-user opened #8046 "[FxA Settings] Sync options are not saved after returning to Create Account page from Terms of Service/ Privacy notice pages"
**Build:**
Stage (Train 1.203.2)

**Affected platforms:**
Windows 10
Android 8
Android 11

**Steps to reproduce:**

1. Launch Firefox and click on the FxA toolbar menu button.
1. Click on ‘Sign in to Firefox (Turn on Sync)’ option.
1. Type a new email address which does not have associated a Firefox Account.
1. Un-select some of the sync options.
1. Click Terms of Service/ Privacy notice link.
1.

[2021-03-30 12:20] data-sync-user commented on #7815
➤ Vasilica Tamas commented:

This issue is verified as fixed on Stage [Train 1.203.2] under Windows 10 64-bit. "Generate a new recovery key" button successfully redirects to the 'Recovery key -Step 1 of 2" screen from the New Settings page.

[2021-03-30 12:22] data-sync-user opened #8047 "[FxA Settings] Blank Firefox Accounts page is displayed when user selects Manage devices option from Synced Tabs"
**Build:**
Stage (Train 1.203.2)

**Affected platforms:**
Windows 10

**Preconditions:**
The user must be signed in to Firefox Sync with the same account on desktop and a mobile device which has a few open tabs.

**Steps to reproduce:**

1. On desktop click on the ‘Show sidebars’ button in the toolbar and select the ‘Synced Tabs’ option.
1. Right-click a synced device to trigger the context menu.

[2021-03-30 12:33] karinabk commented on #7757
I am an Outreachy applicant. Would be happy to fix this ;) @LZoog

[2021-03-30 12:54] data-sync-user commented on #7687
➤ Bianca Oltean commented:

I retested the issue on Stage [Train 1.203.2] under Windows 10, Android 8, Android 11 and iOS 14.4 and I can confirm that the buttons are correctly aligned to the right.

[2021-03-30 13:11] data-sync-user opened #8048 "[FxA-Settings] Change password process fails after enabling the 2FA on a different device"
**Build:**
Stage [Train 1.203.2]

**Affected platforms:**
Windows 10 64-bit
Android 9

**Steps to reproduce:**

1. Navigate to https://accounts.stage.mozaws.net/beta/settings/ and login using an existing account.
1. Login using the same account on a different device and enable the 2FA.
1. On the first device, click on the "Refresh" button displayed in the 2FA section.
1. On the same device, click

[2021-03-30 13:23] jodyheavener commented on #8013
@flozender These can be tricky to debug, so I would recommend asking in the [FxA Matrix channel](https://chat.mozilla.org/#/room/#fxa:mozilla.org) so it gets more attention. From this error it looks workspaces related, so can you double check that you're using the correct [Node version](https://github.com/mozilla/fxa/blob/main/.nvmrc), that you're running your commands with `yarn` and not `npm`, a

[2021-03-30 13:24] jodyheavener commented on #8012
Sure thing @shivanisinghnitp, all yours.

[2021-03-30 13:27] jodyheavener commented on #8011
Going to assign this one to @karinabk since @shivanisinghnitp you're assigned to #8012 🙂

[2021-03-30 13:43] data-sync-user commented on #4185
➤ Jody Heavener commented:

Oh boy, yup. Thanks [~jbuckley@mozilla.com] !

[2021-03-30 13:43] Yogita98 commented on #7975
Can you please post the screenshot of the image attached since the jira link is not accessible to me

[2021-03-30 14:11] jodyheavener commented on #7975
Sure thing, here's the image.

![image-2021-03-25-11-26-34-520](https://user-images.githubusercontent.com/6392049/113002746-15867580-9140-11eb-8430-3129abb9ecd4.png)

Though, I'm not sure if this issue is actionable at the moment since we need some product input.

[2021-03-30 14:28] Yogita98 commented on #7975
Ohhh okay no problem! I will look for another issue, thanks

[2021-03-30 14:44] Yogita98 commented on #7971
Hey @LZoog I'd like to pick up this issue. But before that, can you please tell me what exactly do you mean by the image isn't unusually large? Is it something to do with the height/width of the image?

[2021-03-30 15:00] LZoog commented on #7757
Thanks @karinabk, I'll assign this to you! 🙂

[2021-03-30 15:08] LZoog commented on #7007
Thanks shades-7, I'll assign you!

[2021-03-30 15:14] LZoog commented on #7971
@Yogita98 Not necessarily the width/height of the image, but the image size. Images can be compressed with freeware like TinyPNG, and large SVGs with SVGO. I'm not sure if the image is unusually large or not or if that's what's happening, but could be worth checking. I can assign you if you'd like to look into it!

[2021-03-30 15:21] LZoog commented on #7758
@Yogita98 Well... you seem to be right! That's what I get for checking out staging instead of running the latest locally and double checking. Thanks for looking into it again. 😆

<img width="596" alt="image" src="https://user-images.githubusercontent.com/13018240/113013494-5f239000-9141-11eb-85ef-ab3bdd400193.png">

Closing this as this should no longer be an issue on the next push to staging.

[2021-03-30 15:21] #7758 closed

[2021-03-30 15:28] claubatista commented on #7973
hi, I'm outreach applicant, I would like to work on this. :)

[2021-03-30 15:51] misterhsp commented on #8016
No one has an idea?

So far everything worked fine, but something must have been changed?

...

[2021-03-30 16:05] khushishikhu commented on #7766
@janiceahn Hi I am an outreachy applicant. can I start working on this issue?

[2021-03-30 16:09] jodyheavener commented on #7766
Sure thing, @khushishikhu!

[2021-03-30 16:12] #7935 closed

[2021-03-30 16:12] data-sync-user commented on #7935
➤ Wil Clouser commented:

Thanks for filing - We're going to leave this wording for now though.

[2021-03-30 16:17] jaredhirsch opened #8049 "Functional test failures - sign_in_recovery_code.js"
Failures are `can sign-in with recovery code - sync - recovery code` and `can regenerate recovery code when low - recovery code`

┆Issue is synchronized with this [Jira Task](https://jira.mozilla.com/browse/FXA-3296)
┆Issue Number: FXA-3296

[2021-03-30 16:30] data-sync-user commented on #8048
➤ Wil Clouser commented:

Let's see if FXA-3188 changes this, and if not maybe we refresh a larger piece of this page

[2021-03-30 16:45] data-sync-user commented on #8038
➤ Wil Clouser commented:

Our plan is to add a header to the request from GQL > Auth server with the enduser IP

[2021-03-30 17:08] Jane-Kotovich commented on #7970
Hey! I'm Outreachy applicant, could I please work on this issue! Thanks!

[2021-03-30 17:29] #7903 closed

[2021-03-30 18:14] Jane-Kotovich commented on #7755
Hey! I'm an Outreachy applicant could I please grab this issue? thanks!

[2021-03-30 18:46] #7938 closed

[2021-03-30 18:46] #7939 closed

[2021-03-30 19:38] data-sync-user commented on #8031
➤ Barry Chen commented:

While working on this I noticed that we do have a privacy notice link!  It's at the bottom to the right of the "Legal" link.

[2021-03-30 19:40] data-sync-user commented on #8031
➤ Barry Chen commented:

The privacy notice link is in the HTML emails already.

[2021-03-30 19:56] rustproofed commented on #7762
Hello, I'm an Outreachy applicant. I would also like to fix this.

[2021-03-30 19:57] #7968 closed

[2021-03-30 19:58] data-sync-user commented on #7968
➤ Daniel Thorn commented:

barry chen and bdanforth got me what I needed here, thank you.

[2021-03-30 20:01] rustproofed commented on #7005
Hello @jodyheavener I'm an Outreachy Applicant. If this still needs to be resolved I would love to work on it!

[2021-03-30 21:11] vbudhram commented on #8023
Dug into this a little more and found that the following test case is [failing](https://github.com/mozilla/fxa/blob/cc595fc2b44bc1e15857c016539622a6a750bd5d/packages/fxa-content-server/tests/functional/sign_in_recovery_code.js#L136). When the user is running low on recovery codes for 2FA, we redirect them to the settings page to generate more. They are not correctly getting redirected and the page

[2021-03-30 21:19] data-sync-user commented on #8031
➤ Bianca Danforth commented:

Oh interesting; I would imagine that link should actually go to Mozilla's privacy statement, as opposed to a product-specific privacy policy? The Legal link next to it goes to https://www.mozilla.org/about/legal/terms/services/, so wouldn't we want that link to go to e.g. https://www.mozilla.org/en-US/privacy/?

[2021-03-30 21:34] sonylomo opened #8053 "Broken link in main Readme"
In the [dependencies section](https://github.com/mozilla/fxa#dependencies), I encountered a broken link in server ports.

![fxa issue](https://user-images.githubusercontent.com/49971500/113059983-c03a7a80-91b8-11eb-92ad-7840d718cdd8.png)

[2021-03-30 21:45] data-sync-user commented on #8031
➤ Barry Chen commented:

That'd make sense to me.  But let's see what Product/Legal think?

[~byee@mozilla.com]  The "Privacy" link in the attached HTML_email_footer.png (lower right, below the Mozilla logo) is a link to the product specific privacy policy doc.  Should that be a link to Mozilla's privacy policy page and the link for the product specific doc would go after "Terms and cancellation p

[2021-03-30 23:11] data-sync-user commented on #8031
➤ Brian Yee commented:

So there is a:

  1. VPN privacy notice:  https://www.mozilla.org/en-US/privacy/mozilla-vpn/ ( https://www.mozilla.org/en-US/privacy/mozilla-vpn/ )
  2. Mozilla privacy policy:  https://www.mozilla.org/en-US/privacy/? ( https://www.mozilla.org/en-US/privacy/? )
  3. VPN terms of service:   https://www.mozilla.org/en-US/about/legal/terms/mozilla-vpn/ ( https://www.mozilla.or

[2021-03-31 03:05] data-sync-user commented on #8031
➤ Bianca Danforth commented:

Thanks Brian.

For my part, I was asking: How critical is it (i.e. MVP or not) to have the product specific privacy policy (#1) linked in our e-mails? This is because I thought it wasn't there, while all the other legal doc links were (#2, #3 and #4).

Barry pointed out that #1 is in our emails where you would expect #2 to be. As a consequence, it turns out #2 is actu

[2021-03-31 03:21] shivanisinghnitp commented on #7755
Hello @jodyheavener . Can I work on this?
Thanks

[2021-03-31 03:23] shivanisinghnitp commented on #7724
I am an outreachy applicant! Can you sign this to me? Thanks!

[2021-03-31 03:30] shivanisinghnitp commented on #7609
Hello I am an Outreachy applicant! Can I take this issue?

[2021-03-31 03:35] shivanisinghnitp commented on #7417
Hello, Can you assign this issue to me? Thanks!

[2021-03-31 03:56] karinabk commented on #8011
@jodyheavener Thank you for the feedback! Could you review it?

[2021-03-31 04:08] karinabk commented on #7757
@janiceahn @LZoog Do you know how I can render this component? or I need to be registered in the database to get to this page? So far I am on the login page
![Screenshot from 2021-03-30 23-42-17](https://user-images.githubusercontent.com/35498147/113089229-0c151000-9209-11eb-80cf-ed481b12a8e7.png)

[2021-03-31 05:25] Yogita98 commented on #7971
Okay, got it! Thanks

[2021-03-31 05:38] CarolVilarino commented on #7724
Hi i'm an outreachy applicant ! I picked none issues until now, can this be assigned to me ? or another one ;)

[2021-03-31 06:55] shivanisinghnitp commented on #8012
Kindly review the pull request! @jodyheavener
Thanks!

[2021-03-31 07:05] data-sync-user commented on #7761
➤ Bianca Oltean commented:

This issue was verified as Fixed on Stage [Train 1.203.2] under Windows 10 and Android 11. The time is removed and only the password creation date is displayed.

[2021-03-31 07:33] data-sync-user commented on #6477
➤ Bianca Oltean commented:

This issue was verified as Fixed on Stage [Train 1.203.2] under Windows 10 and Android 11. The opt-in link (Switch to new design/ Switch to old design) is not available anymore.

[2021-03-31 07:42] data-sync-user commented on #6476
➤ Bianca Oltean commented:

This issue was verified as Fixed on Stage [Train 1.203.2] under Windows 10. The transition from 'beta/settings' to '/settings' is successfully done.

[2021-03-31 10:03] vasilicatamas commented on #5043
Sorry for closing it. I was convinced that there is a separate one for the new settings page.

[2021-03-31 10:38] data-sync-user opened #8068 "Wrong tooltip displayed for Eye icon when password is visible"
**Build:**
Stage (Train 1.203.2)

**Affected platforms:**
Windows 10

**Steps to reproduce:**

1. Navigate to https://accounts.stage.mozaws.net/.
1. Type in a new email address which does not have associated a Firefox Account.
1. Click Continue.
1. Fill in the password field and then click on the Eye icon.
1. Hover over the Eye icon and observe the tooltip.

**Actual result:**
‘Show password’ tool

[2021-03-31 10:47] Chiamaka-Uzuegbu commented on #8013
Hello Jody, Can I try this task out too?

[2021-03-31 11:00] Chiamaka-Uzuegbu commented on #7012
Hello @LZoog , can I try this please?

[2021-03-31 12:37] karinabk commented on #7757
I managed to create a user and login to Firefox Accounts.

1. When I followed [README](https://github.com/mozilla/fxa/tree/main/packages/fxa-auth-server), it leads to the script `start-mysql`, but I suspect that this part of the readme is deprecated and this script doesn't exist.
2. Actually while trying to create a fake account for testing purposes, I came across useful scripts that I can use to

[2021-03-31 13:26] jodyheavener commented on #7005
@rustproofed Sounds good, I've assigned it to you.

[2021-03-31 13:30] jodyheavener commented on #7013
@shades-7 This change should be made to the button element found here: https://github.com/mozilla/fxa/blob/main/packages/fxa-settings/src/components/HeaderLockup/index.tsx#L22:L41

[2021-03-31 13:32] jodyheavener commented on #7012
@Chiamaka-Uzuegbu sure thing, I've assigned you

[2021-03-31 13:47] jodyheavener commented on #7757
Just popping in here.

Sure can! If you cd into the fxa-settings package and run `yarn storybook` a browser window will open up and you can preview most of the components. It will live update as you make changes as well.

Yeah, I agree that this looks out of date. With the vast amount of documentation we have across the repo it's easy for things to fall behind. Issues or Pull Requests are always w

[2021-03-31 14:10] #8011 closed

[2021-03-31 15:00] Chiamaka-Uzuegbu commented on #7012
On it now. Thanks

[2021-03-31 15:04] Yogita98 commented on #7971
The image that you have attached above is from this URL 👉 http://localhost:3030/signin right?

[2021-03-31 15:25] Tosin-Bakare commented on #3554
Hello @LZoog can I work on this?

[2021-03-31 15:53] karinabk commented on #7760
if it is still open, I am interested in this issue

[2021-03-31 16:03] LZoog commented on #3554
@Tosin-Bakare Since there hasn't been other interest in this in more than a year, sure thing, I will assign you! Thanks! :)

[2021-03-31 16:06] Deek9399 commented on #7760
Hello @LZoog, If this issue is available, I would like to work on it.

[2021-03-31 16:15] LZoog commented on #7971
@Yogita98 this is actually coming from an email template. If you search "New sign-in to", you can see it in a `verifyLogin` file.

According to the issue description, this logo loading problem may be happening across all of our emails. See if you can reproduce it first, probably by running the mail-dev client (details on the home README), or maybe it's reproducible by running `yarn write-emails` a

[2021-03-31 16:15] LZoog commented on #7755
@Jane-Kotovich @rustproofed @shivanisinghnitp @karinabk I figured I'd give this to whomever didn't already have an issue assigned, but it looks like all 4 of you have an open one at the moment! Let's space it out and if what you're working on gets merged after you put a PR up, you’re more than welcome to comment back here and claim this one. 😛

[2021-03-31 16:17] Deek9399 commented on #5043
Hello @LZoog, I am an outreachy applicant. Can I work on this issue?

[2021-03-31 16:45] LZoog commented on #7609
Hey @shivanisinghnitp, sure thing! This wasn't labeled as a `good first issue` but it probably is one.

For more context, this string is displayed on the FxA Settings page (`/settings`). I got a few notes from Jared (issue creator) to share with you:

The 'detailed comments' refers to notes for localizers like https://github.com/mozilla/fxa/blob/main/packages/fxa-settings/src/components/App/en-US.

[2021-03-31 17:10] karinabk commented on #7757
@LZoog Could you please review my PR?

[2021-03-31 17:13] data-sync-user commented on #7779
➤ Wil Clouser commented:

[~byee@mozilla.com] is there a timeline to complete this work?  Do you need any help?

[2021-03-31 17:14] data-sync-user commented on #7066
➤ Wil Clouser commented:

[~wleung@mozilla.com] is there a timeline to complete this work?  Do you need any help?

[2021-03-31 17:21] karinabk commented on #7624
I don't have an access to the Jira, Figma, attachments but as I understood I just need to remove the upper case. May I take it? @LZoog

[2021-03-31 17:57] clouserw commented on #2032
If anyone runs into this with Fenix please let us know

[2021-03-31 17:57] #2032 closed

[2021-03-31 18:49] #8010 closed

[2021-03-31 19:09] Yogita98 commented on #7971
Well I could reproduce the issue by pulling up the `verifyLogin.html` file and the logo did take a few seconds to load and upon further inspection, I saw that the logo is coming from Mozilla's hosted lib. However, I couldn't really gather any more info about it.
I was also trying to run `maildev` client but I observed that we need AWS SES access key and secret for sending mails. Am I in the right

[2021-03-31 20:05] CarolVilarino commented on #8068
Hi! ✋  I'm an Outreachy applicant, this can be a good-first-issue to be assigned to me?

[2021-03-31 20:10] #7989 closed

[2021-03-31 20:16] #7454 closed

[2021-03-31 20:40] #8023 closed

[2021-03-31 20:40] #8049 closed

[2021-03-31 20:43] #8038 closed

[2021-03-31 21:46] data-sync-user commented on #7454
➤ Bianca Danforth commented:

Once this patch lands in Stage (which should be tomorrow thanks to Barry and I sneaking it into an unrelated FxA dot release), Subscription Management functionality is largely ready for testing.

I have reviewed the "Manage your subscription" test cases ( https://testrail.stage.mozaws.net/index.php?/suites/view/15482&group_by=cases:section_id&group_order=asc ) in Test

[2021-03-31 21:50] Chiamaka-Uzuegbu commented on #7012
Hello @jodyheavener, I'm having a bit of a constraint reproducing the issue. The link I'm to navigate to is throwing an error "page not found". Please what can I do about this?

[2021-03-31 22:34] data-sync-user commented on #7908
➤ Jessica Cook commented:

[~djustice@mozilla.com] optional placement – alternative to the current component. Matching the component behavior and styles closer to what we have in fxa-settings

[2021-04-01 02:03] data-sync-user commented on #8031
➤ Brian Yee commented:

I pinged Feldman on this so will let you know when I hear.

[2021-04-01 04:47] shades-7 commented on #7013
@jodyheavener Thank you

[2021-04-01 05:03] shivanisinghnitp commented on #8012
@jodyheavener  I made all the required changes. The test cases were failing hence I had to make a new PR.
Please review this! I have done both the tasks in one commit and also changed the review message!
Thank you!

[2021-04-01 07:05] karinabk commented on #8025
@jodyheavener may Outreachy applicants take these issues? I would like to fix it

[2021-04-01 08:16] Jo-bot86 commented on #7755
Hi @LZoog! Can I work on this? I still have no issue to work on.

[2021-04-01 08:20] shivanisinghnitp commented on #7609
Thank you soo much!!!

[2021-04-01 08:25] data-sync-user commented on #7853
➤ Brian Yee commented:

Changed: product:termsOfServiceDownloadURL

From: https://accounts-static.cdn.mozilla.net/legal/Mozilla_VPN_ToS/en-US.pdf ( https://accounts-static.cdn.mozilla.net/legal/Mozilla_VPN_ToS/en-US.pdf )

To: https://accounts-static.cdn.mozilla.net/legal/mozilla_vpn_tos ( https://accounts-static.cdn.mozilla.net/legal/mozilla_vpn_tos )

Created:  product:privacyNoticeDownloadURL

[2021-04-01 09:21] data-sync-user opened #8091 "[FxA-Settings] ‘Create new recovery key’ button from email opens a blank Settings page"
**Build:**
Stage (Train 1.203.4)

**Affected platforms:**
Windows 10

**Preconditions:**
The user has the Recovery key enabled and the key is saved.

**Steps to reproduce:**

1. Navigate to https://accounts.stage.mozaws.net/ and login using an existing account.
1. Go to ‘Password’ section and click on the ‘Change’ button.
1. Click on ‘Forgot password’ link and enter your email address.
1. Click th

[2021-04-01 09:42] data-sync-user commented on #8023
➤ Vasilica Tamas commented:

This issue is verified as fixed on Stage [Train 1.203.4] under Windows 10 64-bit. The last 2 recovery codes are accepted and the user is successfully logged in.

[2021-04-01 10:07] data-sync-user commented on #8024
➤ Vasilica Tamas commented:

Retested in Stage [Train 1.203.4] and it seems that this bug was partially fixed by FXA-3284. Updated the bug according to the actual behavior, considering that the Blank Settings page is no longer displayed.

[2021-04-01 10:08] data-sync-user commented on #8038
➤ Bianca Oltean commented:

This issue was verified as Fixed on Stage [Train 1.203.4] under Windows 10.

[2021-04-01 10:26] Tosin-Bakare commented on #3554
Hello @LZoog @jodyheavener I am an Outreachy applicant and I have not been able to access both firefox & Mozilla chatrooms. Please I'll like to know if there is any other way to go about it. Below is one of the links "https://chat.mozilla.org/#/room/#fxa:mozilla.org"   Thank you.

[2021-04-01 11:22] Deek9399 commented on #7762
Hello! I'm an Outreachy applicant, Can I work on this issue?
Thank You.

[2021-04-01 11:40] Deek9399 commented on #7755
Hello @LZoog, I am an outreachy applicant. Can I work on this issue?

[2021-04-01 12:06] data-sync-user opened #8092 "[FxA-Settings] "Replacing your recovery codes" 2FA link opens an incorrect page"
**Build:**
Stage [Train 1.203.4]

**Affected platforms:**
Windows 10 64-bit
Android 9

**Prerequisites:**
The user has the 2FA enabled

**Steps to reproduce:**

1. Navigate to https://accounts.stage.mozaws.net/settings/ and login using an existing account.
1. Click on the "Disable" button from the "Two-step authentication" section.
1. Click on the "replacing your recovery codes".

**Expected resul

[2021-04-01 12:18] data-sync-user opened #8093 "FxA articles are not updated on SUMO"
**Affected platforms:**
Windows 10 64-bit

**Steps to reproduce:**

1. Navigate to https://support.mozilla.org/en-US/products/firefox-accounts/manage-account
1. Check the FxA articles.

**Expected results:**
The articles are updated according to the New Settings Page.

**Actual Results:**
The FxA articles are not updated. The available steps and screenshots reflect the Old Settings page.

┆Issue i

[2021-04-01 12:54] data-sync-user commented on #7846
➤ Bianca Oltean commented:

Retested the issue on Stage [Train 1.203.4] under Windows 10. I can confirm that the Resend verification code link is available.

[2021-04-01 13:16] jodyheavener commented on #8012
@shivanisinghnitp Sounds good, I will take a look. A see there are quite a few closed PRs with this issue, so just a tip: you can push new commits to the same branch and it will be reflected in the same Pull Request, and re-trigger CI, no need to close and open new Pull Requests. When you're feeling good about the changes you've made you can squash your commits into a single commit on that same br

[2021-04-01 13:18] #8012 closed

[2021-04-01 13:23] jodyheavener commented on #7762
Sure thing @Deek9399

[2021-04-01 13:26] jodyheavener commented on #7755
Sure thing @Jo-bot86

[2021-04-01 13:28] jodyheavener commented on #7973
Hey @claubatista sounds good!

[2021-04-01 13:30] jodyheavener commented on #7760
@Jane-Kotovich @karinabk @Deek9399 Looks like you all currently have issues assigned, so let's space it out and if your issue gets closed feel free to check back in here and I'll be happy to assign you! 🙂

[2021-04-01 13:31] jodyheavener commented on #7724
Hi @CarolVilarino! Sure thing, I've assigned you.

[2021-04-01 13:41] jodyheavener commented on #3554
Hey @Tosin-Bakare, sorry to hear you're running into difficulties. If you haven't already I recommend checking out our [Wiki page for Matrix](https://wiki.mozilla.org/Matrix#Getting_Started). Can you describe the problem you're facing - can you not access any of the chatrooms, or just those specific ones?

[2021-04-01 13:43] shivanisinghnitp commented on #8012
@jodyheavener  Thank you so much! You have been quite helpful .Since I m new to open source contribution , I struggled a lot! This advice is gonna make my open source contribution journey relatively easier! :)

[2021-04-01 13:43] Jo-bot86 commented on #7755
thank you @jodyheavener

[2021-04-01 13:49] karinabk commented on #7624
I could not reproduce this issue. I tried to locally run it on both Firefox 86.0 (64-bit) and Chrome Version 89.0.4389.90 (Official Build) (64-bit), on the device XPS-13-9360. Do you have any ideas?
![Screenshot from 2021-04-01 19-36-42](https://user-images.githubusercontent.com/35498147/113302453-e29bd780-9321-11eb-866c-2b0c9cf4b43b.png)

[2021-04-01 13:52] misterhsp commented on #8016
I have now tried something around. The last release that works here is v1.202.3. Everything after that causes the error.
If more info is needed, let me know. So far everything worked fine here.

...

[2021-04-01 14:18] Jo-bot86 commented on #7755
@janiceahn should the subcategories (e.g. picture) be aligned with the category Profile or should the category Profile be moved further to the right?

[2021-04-01 14:27] #5188 closed

[2021-04-01 14:27] data-sync-user commented on #5188
➤ Ankita Shrivastava commented:

Not applicable anymore.

[2021-04-01 14:31] Jo-bot86 commented on #7755
![grafik](https://user-images.githubusercontent.com/70321115/113309698-b4a99980-9307-11eb-92b3-aab118b486cf.png)
This is what it looks like with the first option

[2021-04-01 14:42] #5356 closed

[2021-04-01 14:42] data-sync-user commented on #5356
➤ Ankita Shrivastava commented:

Not applicable.

[2021-04-01 14:43] #5653 closed

[2021-04-01 15:04] data-sync-user commented on #7853
➤ Barry Chen commented:

When this bug was first filed, we didn't know when the patch for FXA-3114 will be deployed into production.  Currently it looks like will be deployed in Train 204, and the scheduled deployment date is April 14.

[2021-04-01 15:27] Yogita98 commented on #8092
I'm an Outreachy applicant and I'd like to fix this issue if that's okay @LZoog @jodyheavener
Well, I have done a bit of homework before giving this a shot :p
I tried to reproduce the issue locally and I can see that the href link for "replacing your recovery codes" has explicitly been set as [this](https://support.mozilla.org/en-US/kb/reset-your-firefox-account-password-recovery-keys). So does th

[2021-04-01 15:47] LZoog commented on #7626
For context, I originally created a separate component because I didn't want _too_ many conditionals in `UnitRow` that would make it confusing and thought it was better to separate it at the time since it displayed an image which was different than other rows and wasn't sure how many additional conditionals we'd need by the time the Settings Redesign project finished. If it doesn't make `UnitRow`

[2021-04-01 15:50] LZoog commented on #7535
Closing this as it's no longer applicable with the settings redesign.

This was also as designed - the ellipsis would open a modal, the button without the ellipsis would not.

[2021-04-01 15:55] LZoog commented on #8068
Hi @CarolVilarino! Yes, I will assign you, thanks for finding this one.

Here's the screenshot for reference:
![image](https://user-images.githubusercontent.com/13018240/113320638-54e7ca00-92d8-11eb-9184-11a9f15df918.png)

[2021-04-01 15:56] karinabk opened #8095 "[fxa-auth-server] README is missing scripts description"
## Description

`fxa-auth-server` has very useful scripts for setting up the environment. For example, `dump-users` to create mock users to play with. Maybe we should add a centralized document explaining what each script does and how to use them?

Especially mentioning that we should use not `node` to run them, but `ts-node` [(link)](https://github.com/mozilla/fxa/issues/5261).

[2021-04-01 16:01] #7940 closed

[2021-04-01 16:06] #2036 closed

[2021-04-01 16:06] data-sync-user commented on #2036
➤ Wil Clouser commented:

The referenced bug is closed as can't reproduce so also closing here.

[2021-04-01 16:13] LZoog commented on #8092
Hey @Yogita98, yes that is correct! Thanks for looking into this.

The link _should_ be: https://support.mozilla.org/en-US/kb/changing-your-two-step-authentication-device-firefox-account

I'm running this by someone to double check before you get started and will comment back here with confirmation, but I'll go ahead and assign you, thanks for finding this one!

[2021-04-01 16:17] Yogita98 commented on #8092
Sure, no problem @LZoog

[2021-04-01 16:19] data-sync-user opened #8096 "%(productname)s showing up in credit card expiration emails"
I got an email from staging that my credit card was expiring.  I noticed it had a %(productname)s in it, but only in the text version.  The HTML version looked fine.  I'll add some screenshots

!image-2021-04-01-09-15-27-160.png|thumbnail!

!image-2021-04-01-09-16-06-821.png|thumbnail!

┆Issue is synchronized with this [Jira Bug](https://jira.mozilla.com/browse/FXA-3304)
┆Attachments: <a href="htt

[2021-04-01 16:21] LZoog opened #8097 "Update root README with minor changes"
## Description

The front-page FxA README could use a few updates.

1) Update `./pm2` references to use `yarn pm2`, as the executable was removed when we switched to Yarn
2) Update `npm start` and `npm stop` references to `yarn start` and `yarn stop`
3) Update the FxA services image shown under [Workflow](https://github.com/mozilla/fxa#workflow); it's currently 6 years old and has changed signific

[2021-04-01 16:25] LZoog commented on #7738
Here are the two attached gifs to make the problem more clear:

![2FA Continue button enabled](https://user-images.githubusercontent.com/13018240/113324608-eeb17600-92dc-11eb-888a-4c4a7857f1f9.gif)
![2FA Finish button enabled](https://user-images.githubusercontent.com/13018240/113324617-f07b3980-92dc-11eb-90a3-396270cbd378.gif)

[2021-04-01 16:32] LZoog commented on #8092
@Yogita98 got confirmation that the link provided above is correct, thanks!

[2021-04-01 16:35] Tosin-Bakare commented on #3554
Thank you @jodyheavener , After checking out the links I realized I cannot access any of the chatrooms.  Is there any other way to go about it?

[2021-04-01 16:40] data-sync-user commented on #7497
➤ Wil Clouser commented:

wontfix

[2021-04-01 17:52] Yogita98 commented on #8092
Alright, I will get started with this!

[2021-04-01 17:55] #7982 closed

[2021-04-01 17:58] LZoog commented on #7012
Hi @Chiamaka-Uzuegbu, sorry about the confusion! We just recently changed the URL from `beta/settings` to `settings`. You can find this at https://accounts.stage.mozaws.net/settings/, and to run it locally, run the repo and create an account and you should be taken to `localhost:3030/settings`.

[2021-04-01 19:03] dhruva248 commented on #8097
Hey I would like to work on this issue!

[2021-04-01 19:25] #4254 closed

[2021-04-01 19:25] data-sync-user commented on #4254
➤ Lauren Zugai commented:

Closed in Bugzilla.

[2021-04-01 19:28] #4401 closed

[2021-04-01 19:29] dhruva248 commented on #7760
Hi, I am an Outreachy applicant and interested to work on this issue, I am currently not assigned any issue! Can I work on it?

[2021-04-01 19:31] data-sync-user commented on #4409
➤ Lauren Zugai commented:

[~vtamas@mozilla.com] Will you please verify that this is still an issue as it has been more than a year? Thank you!

[2021-04-01 19:33] data-sync-user commented on #4452
➤ Lauren Zugai commented:

[~vtamas@mozilla.com] Will you please verify if this is still an issue? Thanks!

[2021-04-01 19:44] #4544 closed

[2021-04-01 19:44] data-sync-user commented on #4544
➤ Lauren Zugai commented:

Closing this as it's over a year old and this should be intended behavior.

[2021-04-01 19:51] #4005 closed

[2021-04-01 19:52] data-sync-user commented on #4005
➤ Lauren Zugai commented:

Thank you for filing this issue. This is not currently on our roadmap, and in an effort to focus our work, we are closing old issues that we are unlikely to be closed in the future. Thanks again.

[2021-04-01 19:53] #4104 closed

[2021-04-01 19:53] data-sync-user commented on #4104
➤ Lauren Zugai commented:

Closing as this was closed in Bugzilla.

[2021-04-01 19:53] #4031 closed

[2021-04-01 19:53] data-sync-user commented on #4031
➤ Lauren Zugai commented:

This was resolved in a recent PR.

[2021-04-01 20:00] jodyheavener opened #8103 "Consolidate/update supported browser documentation"
We have a list for supported browsers in [this repo](https://github.com/mozilla/fxa/blob/main/docs/supported-browsers.md), as well as the [ecosystem docs](https://mozilla.github.io/ecosystem-platform/docs/fxa-engineering/fxa-dev-process#browser-support). We should consider dropping one so we only have to keep one up to date (also, are these up to date?).

[2021-04-01 20:14] jodyheavener commented on #8097
Sure thing @dhruva248, I've assigned it to you

[2021-04-01 23:19] data-sync-user commented on #8093
➤ Joni Chan commented:

I've updated the linked articles as well as the other ones in https://support.mozilla.org/en-US/products/firefox-accounts/manage-account ( https://support.mozilla.org/en-US/products/firefox-accounts/manage-account ). Let me know if you come across anything else.

[2021-04-02 01:41] data-sync-user commented on #7779
➤ Brian Yee commented:

Pricing and plans aren't locked yet by finance to create finalized plans in Stripe for FR and DE.  I can put in temporary pricing for now until it's official, but need the strings in French and German for product details panel in the purchase flow to update the metadata.  [~flodolo@mozilla.com] or [~lnorton@mozilla.com] do you know if these have been done?

[2021-04-02 05:37] data-sync-user commented on #7779
➤ Francesco Lodolo commented:

I haven't heard anything about localizing Stripe metadata. Given this issues lives in the FxA repository, it might not be on my plate but managed by a different localization PM ([~pmo@mozilla.com]).

P.S. Can I say I'm not thrilled about actual email addresses showing up on GitHub, even for logged out users?

[2021-04-02 06:26] Deek9399 commented on #7762
Thank you @jodyheavener

[2021-04-02 06:41] sunny775 commented on #7606
Hi @LZoog I am an outreachy applicant and would like to work on this issue!
I'm pretty confident with tailwind css

[2021-04-02 08:08] sunny775 commented on #7738
Hi! ✋ @LZoog  @jodyheavener . I am an Outreachy applicant and would love to work on this issue!

[2021-04-02 09:21] sunny775 commented on #7706
Hi! ✋ @LZoog . I am an Outreachy applicant and would love to work on this issue as my first contribution

[2021-04-02 09:39] data-sync-user commented on #7919
➤ Bianca Oltean commented:

Did this bug miss the 203 Train? Because it is still reproducible on Stage [Train 1.203.5] and Production [Train 1.203.4] on Windows 10 x64 and Android 11.

[2021-04-02 11:41] Yogita98 commented on #8092
@LZoog I'm so sorry for the inconvenience. I accidentally closed the previous PR so I'm linking another PR with required changes.
About the previous PR, I had to hard reset my last commit maybe which is why both the commits got included in this branch but now everything seems fine except for a little mess that I caused by making two PRs

[2021-04-02 12:22] data-sync-user opened #8116 "[FxA-Settings] Delete account process fails after enabling the 2FA on a different device"
**Build:**
 Prod [Train 1.203.4]

**Affected platforms:**
 Windows 10 64-bit
 Android 9

**Steps to reproduce:**

1. Navigate to [https://accounts.firefox.com/settings/](https://accounts.stage.mozaws.net/beta/settings/) and login using an existing account.
1. Login using the same account on a different device and enable the 2FA.
1. On the first device, click on the "Refresh" button displayed in th

[2021-04-02 12:38] data-sync-user opened #8117 "[FxA-Settings] No focus border for Download button"
**Build:**
Production (Train 1.203.4)

**Affected platforms:**
Windows 10

**Steps to reproduce:**

1. Navigate to https://accounts.firefox.com/ and login using an existing account.
1. Go to 'Recovery key' section and create a new recovery key.
1. Enter the password and click 'Continue'.
1. Click the 'Download' button.

**Actual result:**
No focus border is displayed for the button.

**Expected re

[2021-04-02 13:16] data-sync-user opened #8118 "Automate the process of triggering smoke test suite while deployment"
Whenever stage/prod deployment occurs, the smoke and functional test suites should be triggered automatically to run. Currently it's a manual process.

┆Issue is synchronized with this [Jira Bug](https://jira.mozilla.com/browse/FXA-3309)
┆Issue Number: FXA-3309

[2021-04-02 13:19] data-sync-user commented on #7853
➤ Barry Chen commented:

FxA decided to extend their current sprint by a week, so now the scheduled deployment date is April 21.

[2021-04-02 13:58] karinabk commented on #7559
@LZoog @jodyheavener I am interested in this issue but I don't have an access to the figma. Would you share a screenshot with me? or should I proceed with another issue?

[2021-04-02 14:36] sunny775 commented on #8117
Hi @LZoog 👋. This could be a "good first issue" for me to work on, as an Outreacy applicant

[2021-04-02 14:50] #7945 closed

[2021-04-02 15:45] flozender commented on #1965
@LZoog I'd like to take this up!

[2021-04-02 16:09] #1799 closed

[2021-04-02 16:09] data-sync-user commented on #1799
➤ Wil Clouser commented:

no more subhub

[2021-04-02 16:10] #1808 closed

[2021-04-02 16:10] data-sync-user commented on #1808
➤ Wil Clouser commented:

Done with new settings

[2021-04-02 16:10] #1804 closed

[2021-04-02 16:11] petercpg commented on #7158
The time is still appearing in English on latest production site:

![2021-04-03_000902](https://user-images.githubusercontent.com/205738/113433024-04c05300-9411-11eb-987a-c89bafb25fdb.jpg)

[2021-04-02 16:12] data-sync-user commented on #1812
➤ Wil Clouser commented:

There are some existing docs about PPID in the auth-server docs that we might be able to steal from

[2021-04-02 16:14] #1813 closed

[2021-04-02 16:14] data-sync-user commented on #1813
➤ Wil Clouser commented:

This isn't on the roadmap.

[2021-04-02 16:18] #1829 closed

[2021-04-02 16:18] data-sync-user commented on #1829
➤ Wil Clouser commented:

no subhub

[2021-04-02 16:18] #1825 closed

[2021-04-02 16:18] data-sync-user commented on #1825
➤ Wil Clouser commented:

Thank you for filing this issue. This is not currently on our roadmap, and in an effort to focus our work, we are closing old issues that we are unlikely to be closed in the future. Thanks again.

[2021-04-02 16:19] clouserw commented on #1695
@bbangert - I think you are working on this now?

[2021-04-02 16:20] #1834 closed

[2021-04-02 16:20] data-sync-user commented on #1834
➤ Wil Clouser commented:

Thanks Les.  Closing this as it will be fixed with the issue you linked.

[2021-04-02 16:24] #1845 closed

[2021-04-02 16:24] data-sync-user commented on #1845
➤ Wil Clouser commented:

We'd like to have auto-documenting docs.  We're going to file a separate issue to make sure we can auto-generate docs, but that isn't this issue.

[2021-04-02 16:24] clouserw commented on #1816
This is fixed now

[2021-04-02 16:24] #1816 closed

[2021-04-02 16:27] #1891 closed

[2021-04-02 16:27] data-sync-user commented on #1891
➤ Wil Clouser commented:

Closed in bugzilla

[2021-04-02 16:28] #1902 closed

[2021-04-02 16:28] data-sync-user commented on #1902
➤ Wil Clouser commented:

->expired

[2021-04-02 16:29] #1917 closed

[2021-04-02 16:29] data-sync-user commented on #1917
➤ Wil Clouser commented:

This was done in https://github.com/mozilla/fxa/issues/785 and adjacent issues

[2021-04-02 16:30] #1934 closed

[2021-04-02 16:30] data-sync-user commented on #1934
➤ Wil Clouser commented:

closed in bugzilla

[2021-04-02 16:31] #1961 closed

[2021-04-02 16:31] data-sync-user commented on #1961
➤ Wil Clouser commented:

closing

[2021-04-02 16:32] clouserw commented on #1965
Hi @flozender .  Thanks for volunteering for this issue.  I'm sorry, but it was mistakenly marked as a `good first bug` and it's more complex than it looks.  I removed the label.  Please check out our other good first bugs!  Thanks

[2021-04-02 16:36] #1979 closed

[2021-04-02 16:36] data-sync-user commented on #1979
➤ Wil Clouser commented:

Thank you for filing this issue. This is not currently on our roadmap, and in an effort to focus our work, we are closing old issues that we are unlikely to be closed in the future. Thanks again.

[2021-04-02 16:37] #2066 closed

[2021-04-02 16:37] data-sync-user commented on #2066
➤ Wil Clouser commented:

no longer applicable

[2021-04-02 16:39] #2073 closed

[2021-04-02 16:39] data-sync-user commented on #2073
➤ Wil Clouser commented:

Closing in favor of https://github.com/mozilla/fxa/pull/7821

[2021-04-02 16:44] #2090 closed

[2021-04-02 16:44] data-sync-user commented on #2090
➤ Wil Clouser commented:

Thank you for filing this issue. This is not currently on our roadmap, and in an effort to focus our work, we are closing old issues that we are unlikely to be closed in the future. Thanks again.

[2021-04-02 16:44] #2104 closed

[2021-04-02 16:44] data-sync-user commented on #2104
➤ Wil Clouser commented:

Thank you for filing this issue. This is not currently on our roadmap, and in an effort to focus our work, we are closing old issues that we are unlikely to be closed in the future. Thanks again.

[2021-04-02 16:45] #2107 closed

[2021-04-02 16:45] data-sync-user commented on #2107
➤ Wil Clouser commented:

We'll keep this the way it is for now

[2021-04-02 16:47] #2108 closed

[2021-04-02 16:47] data-sync-user commented on #2108
➤ Wil Clouser commented:

closed in bugzilla

[2021-04-02 16:49] #2124 closed

[2021-04-02 16:49] data-sync-user commented on #2124
➤ Wil Clouser commented:

closed in bugzilla

[2021-04-02 16:52] data-sync-user commented on #2128
➤ Wil Clouser commented:

[~bbangert@mozilla.com] - what happens today if a person cancels and then tries to resubscribe within the period they already paid for?

[2021-04-02 16:53] data-sync-user commented on #2141
➤ Wil Clouser commented:

Does this still happen?

[2021-04-02 16:56] #2152 closed

[2021-04-02 16:58] flozender commented on #1965
Hi @clouserw, thanks for clearing that up. I can still give it a try it you'd like, I already claimed one `good first issue` so I'd like to do something a little more complex now, if that's ok!

[2021-04-02 17:00] #2174 closed

[2021-04-02 17:00] data-sync-user commented on #2174
➤ Wil Clouser commented:

Thank you for filing this issue. This is not currently on our roadmap, and in an effort to focus our work, we are closing old issues that we are unlikely to be closed in the future. Thanks again.

[2021-04-02 17:01] #2167 closed

[2021-04-02 17:01] data-sync-user commented on #2167
➤ Wil Clouser commented:

Thank you for filing this issue. This is not currently on our roadmap, and in an effort to focus our work, we are closing old issues that we are unlikely to be closed in the future. Thanks again.

[2021-04-02 17:01] #2153 closed

[2021-04-02 17:01] data-sync-user commented on #2153
➤ Wil Clouser commented:

Thank you for filing this issue. This is not currently on our roadmap, and in an effort to focus our work, we are closing old issues that we are unlikely to be closed in the future. Thanks again.

[2021-04-02 17:39] #8026 closed

[2021-04-02 17:46] data-sync-user commented on #7779
➤ Barry Chen commented:

The strings for the metadata is not part of any code base; they live exclusively in Stripe as configuration values for a product or price.  I hope this help clear things up a bit.

[2021-04-02 18:35] Yogita98 commented on #8097
@LZoog Should we also mention using `node v14.15.1` specifically since currently it's stated as `node 14+`? What are your thoughts?

[2021-04-02 18:36] data-sync-user commented on #2128
➤ Benjamin Bangert commented:

The same thing that this issue documents occurs today. This is because the subscription is still active as Les mentioned above. His suggestion also still seems to be the best, bounce the user over to the management page so they could hit the resubscribe button.

[2021-04-02 19:21] data-sync-user opened #8119 "Migrate FxA scoped-keys documentation into ecosystem-platform docs"
The current anonical reference for how 'scoped encryption keys' work in FxA is a google doc which was written when proposing the feature:

* [https://docs.google.com/document/d/1IvQJFEBFz0PnL4uVlIvt8fBS_IPwSK-avK0BRIHucxQ/](https://docs.google.com/document/d/1IvQJFEBFz0PnL4uVlIvt8fBS_IPwSK-avK0BRIHucxQ/)

This is a lot better than having _no_ docs, but it's not great as a living reference for a sh

[2021-04-02 19:44] data-sync-user commented on #7943
➤ Bianca Danforth commented:

For more context, see this discussion ( https://github.com/mozilla/fxa/pull/7860#discussion_r599060944 ).

[2021-04-02 20:29] data-sync-user commented on #8031
➤ Brian Yee commented:

Hi team,

See this link for a summary of what should be linked to where:

https://docs.google.com/presentation/d/1EcVbHjUj-vdJDUE2tZotnr7t3VnZcSv4GbQ2UAN1uS4/edit?usp=sharing ( https://docs.google.com/presentation/d/1EcVbHjUj-vdJDUE2tZotnr7t3VnZcSv4GbQ2UAN1uS4/edit?usp=sharing )

Note that checkout flow footer links have to be right (blocker), but email links are non-blocki

[2021-04-02 20:52] #7977 closed

[2021-04-02 20:52] #7990 closed

[2021-04-02 20:53] data-sync-user commented on #8031
➤ Bianca Danforth commented:

Thanks Brian for following up with this. Currently, what we have in the emails for the "Privacy" link is the product-specific privacy policy, #1, not #5. So that sounds like a fast-follow to me. We'll leave this ticket open to fix this.

[2021-04-02 21:36] #8092 closed

[2021-04-02 21:45] LZoog commented on #8117
Hi @sunny775, yes this is a great one to grab! I'll assign you.

Here's the screenshot attached:
![No focus border for Download ](https://user-images.githubusercontent.com/13018240/113456381-c60ba800-93d2-11eb-89c9-d7f89bac421c.gif)

[2021-04-02 21:51] LZoog commented on #7706
Hey @sunny775, since I just assigned another good first issue to you I'll leave this one open, but feel free to circle back here when the PR is merged for the other! :)

Here's the attached image:
![gif22](https://user-images.githubusercontent.com/13018240/113456484-f9e6cd80-93d2-11eb-9cdc-8ee41e219a5a.gif)

[2021-04-02 22:17] LZoog commented on #5043
Hi @Deek9399, yes, I will assign you! Thanks!

[2021-04-02 22:20] LZoog commented on #7760
@dhruva248 you probably commented here before being assigned to another but let's wait until the other issue you've now got assigned to you is fixed! 😄 Thanks!

[2021-04-02 22:26] LZoog commented on #8097
@Yogita98 good question! We could potentially make a minor upgrade before we upgrade to `v15`, meaning our docs would go out of date pretty quickly. To my knowledge, FxA should still run on lower versions of node than `v14.15.1`, I've just been recommending contributors make sure they're running that specific version of Node since that's the one specified in the root `package.json`. 🙂

[2021-04-02 22:31] LZoog commented on #7606
@sunny775 That's great to hear that you are confident with Tailwind CSS!

Honestly, I would encourage you to look at some quicker/easier tasks than this one for Outreachy. We have an ongoing project around the `fxa-admin-panel` and I'm not quite sure if some changes are all in, meaning there's potential for some merge conflicts. This might be better to do later when that project is complete and we

[2021-04-02 22:40] LZoog commented on #7738
Hey sunny775, feel free to circle back here once a PR is up & merged for the current issue you're working on! :)

[2021-04-02 22:49] LZoog commented on #7417
Hi shivanisinghnitp, I realize your comment is 3 days old, sorry for missing it! Feel free to circle back here once the other issue you have assigned to you now is fixed, thank you! 😄

[2021-04-02 23:01] LZoog commented on #7417
The red background shown in the Figma link is #feb3bb in disabled state, but we should use whatever closest background-color is generated by our Tailwind files. The hovered disabled state should still show the disabled color.

A non-disabled button hover should show #FF4F5E or whatever closest background-color we have in our Tailwind config file.

[2021-04-03 04:04] sunny775 commented on #7738
Sure @LZoog , I'll do that 💯 :)

[2021-04-03 04:08] sunny775 commented on #7706
Sure @LZoog . Thanks a lot :)

[2021-04-03 04:13] sunny775 commented on #8117
Thanks @LZoog . I'm on it right away

[2021-04-03 04:22] sunny775 commented on #7606
Alright @LZoog , clearly understood. Thanks a lot!